[2021-07-05 20:46] Jupi007 opened #1 "Failed assertion on mouse page"
![Capture d’écran du 2021-07-05 22-43-43](https://user-images.githubusercontent.com/36476595/124516698-8e056e00-dde2-11eb-9271-6469aa644d80.png)

[code]

[2021-07-05 20:49] Jupi007 opened #2 "App crash when a setting shema isn't installed"
I don't have dash-to-dock installed, so the related settings schema aren't available.
When selecting the **appearance** page the app is crashing:

[code]

[2021-07-05 20:49] Feichtmeier commented on #2
Thanks @Jupi007 !

[2021-07-05 20:50] Feichtmeier commented on #1
Strange :thinking:
Maybe the mouse speed or something
![grafik](https://user-images.githubusercontent.com/15329494/124517108-6ebb1080-dde3-11eb-8bfb-36b52f99c53f.png)

Thanks @Jupi007 !

[2021-07-05 20:51] Jupi007 commented on #1
Your welcome !
I'm happy to help you a bit on this :)

[2021-07-05 21:03] Feichtmeier commented on #1
I guess the range of the slider needs to be specified in case the value is negative, which is possible for mouse speed :) sure, feel free to grab :+1:

[2021-07-05 21:05] Jupi007 commented on #1
I'll take a look tomorrow :)

[2021-07-08 07:44] Feichtmeier commented on #1
Fixed with https://github.com/Feichtmeier/settings/commit/e512da0e670a0a421370b18516827b4fee2d0bef (sorry for the grab, this issue was too big ^^ and thanks for noting)

[2021-07-08 07:44] #1 closed

[2021-07-08 09:45] #2 closed

[2021-07-08 09:51] Feichtmeier opened #6 "Add a test for each page"
Add a test for each page and eventually also for each section

[2021-07-14 19:35] mivoligo opened #9 ""Do not disturb" switch has opposite value than expected"
First of all, this is fantastic work @Feichtmeier and @Jupi007 I'll try to contribute after my holiday :)

I've noticed on the Notifications page the switch "Do not disturb" displays wrong value. Screenshot with comparison to the Gnome control center app
![Zaznaczenie_001](https://user-images.githubusercontent.com/1629120/125682566-1c4484c0-49d0-47b8-bfcd-c256fe438319.png)

[2021-07-14 19:47] Feichtmeier commented on #9
Hi 👋
Thanks :) It is all building up on @jp-nurmi 's gsettings dart file.
Soon^tm it will use a dart native package by canonical but currently this is totally fine since there are soooo many pages to implement.

Thanks for your will to contribute! Feel free to grab any of the existing pages or whatever you want to change / improve.

I tried to gather some common patterns that can be used for more

[2021-07-14 19:48] Jupi007 commented on #9
And what about create an `InvertedBoolSettingsRow`?

[2021-07-14 19:49] Feichtmeier commented on #9
we could put an "invertedValue" property or something

[2021-07-14 20:00] mivoligo commented on #9
Thanks for the answers. I'll get in touch when I'm ready.

[2021-07-15 05:24] #9 closed

[2021-07-15 23:31] madsrh opened #13 "Ideas for scrollbar / sidebar finetuning"
If you don't want this kind of nitpicking feedback or it too early in the process, just let me know 😃 Also multiple thoughts in the same issue 🙈

1) Is it a deliberate choice that the scrollbar is so thick?

2) The separators (between **Settings I Wi-Fi**) does not align with the scrollbar

3) One thing I loved in Yaru 1.0 was [the undershoot](https://github.com/ubuntu/yaru/pull/527). Any chance o

[2021-07-15 23:39] madsrh opened #14 "Add a background color"
I don't know if it's just because I see the GTK settings app all the time, but I really miss the white background for the content. The current gray wall 😄 gives it a bit of an old-school vibe.
It helps separate elements and I would also love to see this for the sidebar.

Mockup:
![image](https://user-images.githubusercontent.com/3986894/125870597-f634531e-e5b1-49f9-bb16-7365405be620.png)

Current:

[2021-07-16 05:54] Feichtmeier commented on #14
I prefer it without many background colour changes but I will test this

[2021-07-16 09:35] madsrh opened #15 "Responsive layout?"
Currently the window content is centered, like this:

![image](https://user-images.githubusercontent.com/3986894/125921324-3c9a7164-7b79-4d84-b1a6-4371f8967c58.png)

But I was wondering if it would be better to make it float left?
We could make two columns; one with the content (like now, just left aligned) and the second with the stuff that is currently incorporated in the headerbar. This would (

[2021-07-16 09:42] madsrh opened #16 "Wider sidebar"
Make the sidebar wider so the labels fit on one line.

![image](https://user-images.githubusercontent.com/3986894/125927157-218a4a0f-6477-4d35-b5f5-1bfeacd76659.png)

[2021-07-16 09:45] madsrh commented on #14
Alright 👍 The background looks like #f7f7f7. Perhaps just changing it to #fafafa 🤷‍♂️
What's the background color for the Canonical installer?

[2021-07-16 10:06] Feichtmeier commented on #15
In this very extreme size center might not look like the best fit. But in a regular range I think it's better. I tried left alignment but left looks worse in a mid to big range on a 2,5k screen

[2021-07-16 16:09] #16 closed

[2021-07-17 07:50] Feichtmeier opened #20 "Missing page: WIFI"
Must have features:

- visualize all visible wifi networks and mark the one one is connected to
- let the user connect to a wifi network in the list
- let the user disconnect from the currently connected wifi network

Optional:
- let the user disable wifi, bluetooth and celuar networks via an "Airplane mode" button (IMO since this feature belongs to different pages it should not be put into one pa

[2021-07-17 21:12] Feichtmeier opened #21 "Missing Page: Bluetooth"
Must-have features:

- show a list of bluetooth devices
- show the status of the connection (connected / disconnected / not paired)
- clicking a list element opens the connection dialog

Relevant implementations:

- gnome control center
![grafik](https://user-images.githubusercontent.com/15329494/126034508-439d9801-5b2b-4fee-9f40-9d3c0b6b7e74.png)
![grafik](https://user-images.githubusercontent.co

[2021-07-19 16:36] madsrh opened #24 "Missing page: Info"
Must have features:

- System specs
- OS information

Optional:

- Ability to edit the device name
- OS logo
- Shortcut for software updates

Mockup:
![image](https://user-images.githubusercontent.com/3986894/126236386-fdc5c32f-be97-4092-a915-28de6392c296.png)

**EDIT:** Not sure about the "System updates" button. Perhaps it's unnecessary to be able up launch the updater from here.
Would it make m

[2021-07-19 17:30] Feichtmeier commented on #24
I would like to not include all those borders between the rows if you are okay with this? :) @madsrh

[2021-07-19 20:31] Feichtmeier opened #27 "Review architecture"
After playing around with the bluetooth page, whichs UI is straight forward, I quickly came near the limits of setState().
After seeing the power of separating the view from the viewmodel plus a chanfelistener in https://github.com/canonical/ubuntu-desktop-installer/issues/147 I think we should also do this for this app.
It is an additional effort but I think the more complicated pages will profit

[2021-07-19 22:11] madsrh opened #28 "Missing feature: search settings page"
I know it's just a WIP placeholder, but the large **Settings** label should be replaced with a textfield / searchfield.

![image](https://user-images.githubusercontent.com/3986894/126230724-fb63e790-8f69-4434-bc6f-96305c15394d.png)

When the field isn't active, a grayed out **Search** label is visible.

![image](https://user-images.githubusercontent.com/3986894/126233209-f29363cb-778f-4790-ad3e-b0

[2021-07-20 18:27] Feichtmeier commented on #28
Thanks for the issue - yes this is currently only lipstick.
However I am not entirely sure about how search should work. I somehow do not like how the left row suddenly becomes an area of other elements.
I rather thought about some kind of search popup / dialog
but we can try different things :)

[2021-07-20 22:37] madsrh commented on #28
+1 that is a bit weird. It's just the way the sidebar works in GCC, but a popup / dialog might be better. That was also what I meant by _"or as a dropdown"_ 😅

![image](https://user-images.githubusercontent.com/3986894/126403904-1a070ac9-1340-423f-9e15-2c17b1eaa9ae.png)

[2021-07-31 11:47] madsrh opened #31 "Add descriptions"
Some labels aren't very descriptive. For instance the average user doesn't know the difference between _event sounds_ and _input feedback sounds_. There's a subtext (is that a word?) in Dconf-editor, which (sometimes) adds a bit more information.

It could say something like:

**Event-sounds**
_Notify the user of a system action, notification or event_
**Input-feedback-sounds**
_Feedback for user

[2021-08-01 10:25] Jupi007 commented on #24
@Feichtmeier My PR on `linux_system_info` is merged: https://github.com/LolzDEV/linux_system_info/pull/1

Just wait for a new release!

[2021-08-27 11:10] mivoligo opened #35 "Missing page: Accessibility"
I can give it a try in the near future.

This is how it looks in gnome control center. It's named "Universal Access" for me though.
![Settings_004](https://user-images.githubusercontent.com/1629120/131118680-fcc67caf-1f7a-4c6f-88d8-de244bf01acd.png)

[2021-08-31 20:00] mivoligo commented on #27
I'm all for it after starting messing around with more complicated parts of Accessibility page. I got too much spaghetti code real quick. I think I'll try to implement that page using Provider and ChangeNotifier as you referenced above.

[2021-08-31 20:47] Feichtmeier commented on #27
Good idea :)
Simple page stuff with setState really only works for single toggles/sliders.
Anything more complicated needs the MVVM pattern from @jp-nurmi

[2021-09-01 21:35] mivoligo opened #37 "Widget for settings row with some extra options"
While I'm slowly progressing with a11y page, I've noticed a lot of inconsistency in the gnome control center app. One of the issue for me is how a _setting row with extra options_ looks like in different parts of the app.

Here's couple of examples:

![options](https://user-images.githubusercontent.com/1629120/131746946-25b50bc9-c5cc-4dc3-81bf-f1c86dde3703.png)

1. Current boolean status is visibl

[2021-09-01 21:41] mivoligo commented on #37
Yes. These screenshots are from the default Settings app on Ubuntu 20.04.
--EDIT--
Sorry. I'm wrong. Option 2 is actually not for a boolean value. Anyway, I'd like to know your opinions.

[2021-09-01 21:58] Feichtmeier commented on #37
I also like the second option except that there should not be "off" displayed but the disabled switch from 3

[2021-09-02 09:31] mivoligo commented on #37
OK. There's one case though, when displaying "on" or "off" instead of the switch makes more sense. It is when in the setting options there is more than one way to switch that setting on. The example I've seen in a11y is for Click Assist. It displays "on" when either "simulated secondary click" or "hover click" is enabled.

![Selection_005](https://user-images.githubusercontent.com/1629120/13181984

[2021-09-02 20:07] mivoligo commented on #37
This is a screenshot how I did in the a11y branch.

![settings_002](https://user-images.githubusercontent.com/1629120/131908714-e3c2b66c-fd11-433b-8c0f-b333b4be5e30.png)

[2021-09-02 20:36] Jupi007 commented on #37
Super nice!

[2021-09-02 20:41] Feichtmeier commented on #37
Looks very nice indeed! @mivoligo feel free to go with whatever you think is right. I am currently only holding you back 🚀

[2021-09-02 20:43] mivoligo commented on #37
Thanks guys :heart:
We can always change it later, I guess.

[2021-09-07 17:17] mivoligo commented on #35
This is how it looks so far. More details in PR #36.

![Screenshot from 2021-09-07 18-15-28](https://user-images.githubusercontent.com/1629120/132385091-eaf310d6-e179-47e7-92dc-36ada5d09a5c.png)

[2021-09-07 18:16] Jupi007 commented on #35
Very impressive!

[2021-09-07 21:24] Feichtmeier commented on #35
Really nice! Tryig this in the next days!

[2021-09-08 10:58] #35 closed

[2021-09-10 08:24] Feichtmeier commented on #35
@mivoligo finally found a little time window to open ubuntu - works really nice, impressive!
![Bildschirmfoto von 2021-09-10 10-24-13](https://user-images.githubusercontent.com/15329494/132823989-cb9ca27e-81a4-4f1c-a643-35b62efcb2c3.png)
Thank you very much!
My contributions will probably start in october again :monocle_face: :brain:  :laughing:

[2021-09-13 14:44] Feichtmeier opened #45 "Missing page: Wallpaper"
Must have features:

- show your current wallpaper
- show a list of pre-installed wallpapers
- let the user use his own wallpapers

Nice-to-have features:

- connect to cloud photo storages such as google fotos or apple cloud

Relevant implementations

- GCC ![FLAMESHOT_2021-09-13_16-39](https://user-images.githubusercontent.com/15329494/133104005-b4a54634-c12f-45dd-ac61-03b8be995929.png)
- Androi

[2021-09-13 15:01] Feichtmeier opened #46 "Missing page: privacy & house cleaning"
Must have features:

-  location service
- error reporting
- connectivity observation
- (auto) deletion of the trash bin, file history and temp files

This page is a really bad one in gnome control center, in my opinion. I don't think that the thunderbolt page fits in there at all. We should also avoid those sub-menus where possible as it is annoying to navigate. I also think that the screen lock

[2021-09-13 15:02] Feichtmeier commented on #28
![grafik](https://user-images.githubusercontent.com/15329494/133108132-bfaea772-4899-4bfe-bcc3-d193f000c0be.png)

[2021-09-13 15:09] Feichtmeier opened #47 "Missing page: online accounts"
This is where flutter could really shine, because we should be able to use google and microsoft APIs made for flutter.

Must have features cloud features:

- file sync (we need a flutter file manager app for this to have any use)

Nice to have features:

- email
- calendar

[2021-09-15 10:30] Feichtmeier commented on #31
@mivoligo introduced descriptions for setting rows
![Bildschirmfoto von 2021-09-15 12-29-06](https://user-images.githubusercontent.com/15329494/133417547-079cf9c8-9b12-4c06-84ca-3d852bddc054.png)

If it is needed for individual rows we can open individual bugs for it - thanks everyone :+1:

[2021-09-15 10:30] #31 closed

[2021-09-15 10:44] Feichtmeier opened #50 "Missing page: user administration"
Must-have features:

- unlock with current user auth
- create/update/delete users
- change pictures
- change password

Nice-to-have-features:

- connect to the camera app
- connect to online photo storage

Relevant implementations:

- GCC ![Peek 2021-09-15 12-38](https://user-images.githubusercontent.com/15329494/133419068-21ff6841-8ea9-4f10-bf08-8540f6318952.gif)
- Windows 11
![image](https://use

[2021-09-15 10:57] Feichtmeier opened #51 "Missing page: removable media"
Must-have-features:

- select what do to for each removable media

Relevant implementations:

- GCC ![FLAMESHOT_2021-09-15_12-54](https://user-images.githubusercontent.com/15329494/133421212-d69d6b63-f01d-4378-b8ac-f4e5f7489db3.png)

[2021-09-15 11:10] Feichtmeier opened #52 "Missing page: region & language settings"
Must-have-features:

- chose a language
- install languages
- chose a keyboard layout

Relevant implementations:

- GCC ![Peek 2021-09-15 13-02](https://user-images.githubusercontent.com/15329494/133422423-98e5a1fb-3f1a-42a2-99b7-897c5fb8eab1.gif)
![FLAMESHOT_2021-09-15_13-09](https://user-images.githubusercontent.com/15329494/133422940-e7d4fae3-aa90-4fe8-818a-24299ebc8052.png)
- Windows 11

Edit:

[2021-09-15 11:21] mivoligo commented on #52
Hmm... Personally I would keep the time settings separate from the language settings. Imagine someone travelling. They might only want to adjust the time settings of their machine. So they would look first for something "time" related.

[2021-09-15 11:49] Feichtmeier opened #53 "Missing page: date & time"
Must-have-features:

- chose a timezone
- auto timezone
- chose date & time
- auto date & time
- time format

Relevant implementations:

- GCC ![FLAMESHOT_2021-09-15_13-09](https://user-images.githubusercontent.com/15329494/133422940-e7d4fae3-aa90-4fe8-818a-24299ebc8052.png)
- Windows 11

[2021-09-15 12:11] Feichtmeier commented on #15
Changed the description because they layout is already responsive (desktop/mobile screens). Just not for uuuuuultra wide windows

[2021-09-15 12:30] Feichtmeier opened #55 "Missing page: printers"
Must-have-features:

- add/edit/remove printers
- lookup printing queue
- open additional printer settings (external gnome app)
- search and install drivers
- set default printer

Relevant implementations:

- GCC ![Peek 2021-09-15 14-28](https://user-images.githubusercontent.com/15329494/133433416-6d482636-dfbf-4ec9-9086-d42bfc9eb8b2.gif)
![Peek 2021-09-15 14-27](https://user-images.githubusercont

[2021-09-15 12:36] Feichtmeier opened #56 "Missing page: color profiles"
Must-have-features:

- add/edit/remove a color profile for each display
- import a color profile from file

Relevant implementations:
- GCC ![Peek 2021-09-15 14-32](https://user-images.githubusercontent.com/15329494/133433955-eba4c029-b4ae-4365-ad1b-ba65a9ebba47.gif)
![FLAMESHOT_2021-09-15_14-34](https://user-images.githubusercontent.com/15329494/133434161-72051fa8-9772-4891-a98a-73aedae4ab8d.png)

[2021-09-15 12:41] Feichtmeier opened #57 "Missing page: apps administration"
Must-have-features:

- enable/disable specific access rights for resources (snaps/flatpaks)
- manage file handlers for the app
- setup start-up apps

To-be-discussed-features:

- enable/disable notifications

Relevant implementations:
- GCC ![apps](https://user-images.githubusercontent.com/15329494/133434694-e95bb377-8014-435d-b6a9-6afbd916feb0.gif)
![grafik](https://user-images.githubusercontent.

[2021-09-15 12:47] Feichtmeier opened #58 "Missing page: displays"
Must-have-features:

- select displays
- order displays (left/right, connect/extend/only one display)
- scaling of the windows/fractional scaling

Nice-to-have-features:

To-be-discussed-features:
- color profiles
- night light (reduction of blue light)

Relevant implementations:
- GCC
![FLAMESHOT_2021-09-15_14-45](https://user-images.githubusercontent.com/15329494/133435717-e94e67a8-ee48-4a2b-a64

[2021-09-15 12:50] Feichtmeier opened #59 "Missing page: sharing"
Must-have-features:

- Allow screen share
- Allow media share from dirs
- Allow SSH share

Relevant implementations:
- GCC ![sharing](https://user-images.githubusercontent.com/15329494/134399485-02ed4760-c253-45a1-970a-cd746dc79b69.gif)

The computer/host re-naming was moved to the Info page

[2021-09-15 12:58] mivoligo commented on #58
_Opinion:
The night light feature should be moved to the appearance page
The color profiles should be moved to this section_

I agree with that.

It's just an anecdotal evidence (based on a single case :smiley: ) but I remember having hard time to find the setting for the night light.

[2021-09-15 13:00] mivoligo commented on #57
I can't see Windows 11 screenshot in your post :thinking:

[2021-09-15 13:00] Feichtmeier opened #60 "Missing page: power"
Must-have-features:

- show charge of the laptop battery
- show charge of connected Bluetooth devices
- select CPU power governor
- select keyboard/display brightness
- select to disable the display after never/X minutes
- auto sleep for never/connected/battery mode
- select what to do when you press the power button

To-be-discussed-features:
- I would not put bluetooth and WIFI toggles in here,

[2021-09-15 13:01] Feichtmeier commented on #57
I left those empty in many issues because I can not find pictures of the windows11 setting and I do not have it installed yet :(

[2021-09-15 13:06] mivoligo commented on #57
ah, ok, I thought it's something wrong with github

[2021-09-15 13:13] Feichtmeier commented on #37
I think we are happy with what you did here :) Closing as it is "fixed"

[2021-09-15 13:13] #37 closed

[2021-09-15 13:42] Feichtmeier commented on #28
@madsrh WDYT about rather a search dialog opening up?

![FLAMESHOT_2021-09-15_15-42_1](https://user-images.githubusercontent.com/15329494/133444492-0d4125cf-431e-4bb0-bf73-6ac511da70fa.png)
![FLAMESHOT_2021-09-15_15-42](https://user-images.githubusercontent.com/15329494/133444497-fe6b1527-b14e-45ce-aebd-e0a4ac4e65c8.png)

[2021-09-15 15:04] madsrh commented on #28
@Feichtmeier It could work but doesn't it feel a bit disconnected compared to the search field like you posted here:

![image](https://user-images.githubusercontent.com/3986894/133459117-9fa80cbb-70da-4b58-a88f-147c3061a47f.png)

[2021-09-15 15:25] Feichtmeier opened #63 "Missing page: wacom tablets"
Must-have-features:

- show your device visually and with information about it
- assign buttons to your tablet and your stylus
- test your settings

Nice-to-have-features:
- install drivers if needed

Relevant implementations:

- GCC Running "assign buttons" and peek, makes GCC crash xD so I can't show this
![wacom](https://user-images.githubusercontent.com/15329494/133462115-b5cbfc0a-e242-4445-9a

[2021-09-15 19:40] mivoligo opened #65 "Improve setting row with slider"
I think we need a way to reset the value set by a slider to the default value and show the current value.

Here's my idea. Let me know what you guys think.

![Peek 2021-09-15 20-35](https://user-images.githubusercontent.com/1629120/133498385-8d43e046-5048-401d-b78f-f5847913c3c8.gif)

[2021-09-15 19:44] Jupi007 commented on #65
Good idea :+1:
Maybe put the reset icon on the far right?

[2021-09-15 19:50] Feichtmeier commented on #65
There should be a way to show the value above the slider. This works for the discrete slider I think 🤔
Could you show how the reset button looks with primary color?

And nice idea!

[2021-09-15 19:52] mivoligo commented on #65
I've tried few different layouts and got some different issues with them. This one was the least problematic. I can show issues with other layouts.

[2021-09-15 19:56] mivoligo commented on #65
IMO the discrete slider looks ugly :wink: and I think there's no easy way to display label above slider without making it discrete.

![Uploading Selection_001.png…]()

[2021-09-15 19:58] Jupi007 commented on #65
And what about use soft grey?

[2021-09-15 19:59] mivoligo commented on #65
Maybe there's more appropriate icon to symbolize reset. I used  `YaruIcons.refresh`

[2021-09-15 20:05] mivoligo commented on #65
I used Yaru warmGrey here

![Selection_003](https://user-images.githubusercontent.com/1629120/133501717-76214329-2b80-4c33-ae81-5e5631eb2b7c.png)

[2021-09-15 21:25] Feichtmeier commented on #65
Another problem I see is that the default value only happens for gsetting stuff. I am not sure everything has actually a default value? Or does it? Maybe it is enough to just load the app with what gsetting gives you. If the slider is not connected to gsetting we could set our own default value 🤔
Needs a bit more thought I think

[2021-09-16 09:37] mivoligo commented on #65
We can make that an optional property and only show when there's a default value. Anyway, I'll try to experiment a bit and maybe create something like the default value mark in GTK sliders.

[2021-09-16 11:45] Feichtmeier opened #66 "Add internationalization"
We might want to have a look how https://github.com/canonical/ubuntu-desktop-installer and how @jpnurmi did the internationlization.

[2021-09-17 06:02] shan-shaji commented on #6
Hey @Feichtmeier Can I work on the widget test

[2021-09-17 07:26] Feichtmeier commented on #6
Yes please 🙂

[2021-09-17 11:25] mivoligo commented on #65
OK, Here's how it can look with a mark showing the default value. I'm not sure about the color and size of the mark.
Screenshot:

![Selection_001](https://user-images.githubusercontent.com/1629120/133774768-61742390-e7cb-4b3f-9b08-3dff8f326773.png)

In action:

![Peek 2021-09-17 12-21](https://user-images.githubusercontent.com/1629120/133774547-6b4a9c55-5145-47e5-a526-3634011d0056.gif)

[2021-09-17 11:50] Feichtmeier commented on #65
This is a very nice solution. Looks great ant subtle :+1:

[2021-09-17 12:15] Feichtmeier opened #70 "Bug: app notifications do not work"

[2021-09-17 14:17] #70 closed

[2021-09-18 12:00] Feichtmeier opened #77 "New screen: startup apps"
We could add this into the apps panel

Opinions? @mivoligo @Jupi007 ?

![grafik](https://user-images.githubusercontent.com/15329494/133888045-64b6d812-3e3a-44b2-820c-fe4c3450572e.png)

[2021-09-18 14:48] mivoligo commented on #77
I think it's a good idea :+1:

[2021-09-18 17:50] Jupi007 commented on #77
Yes, add this to the app panel is a must have imo.
I never understood why this isn't present in GCC.

[2021-09-19 19:06] Feichtmeier opened #78 "There's something wrong with the master-detail navigation"
@Feichtmeier There's something wrong with the master-detail navigation. Whenever you navigate to a page, it's creating 3 instances of that page, and immediately disposes one of them (before the model & service had a chance to even finish initialization).

_Originally posted by @jpnurmi in https://github.com/Feichtmeier/settings/issues/32#issuecomment-922518983_

[2021-09-19 19:07] Feichtmeier commented on #78
@jpnurmi

Yes I tried your master detail example in the moment you showed it to me :)

The problem is that I would prefer the double AppBar (twp appbars) to give this "paned" look
If you could make this happening in your code we can swap this awkward thing out :)

[2021-09-19 21:25] Feichtmeier commented on #78
![yayayafsadfasdf](https://user-images.githubusercontent.com/15329494/133943488-45f3fcad-6b36-4835-9e50-b9fce1e00c4e.gif)

Okay managed it myself @jpnurmi  :) Going with this one soon then. Prbly after the pending PRs have been merged to limit the diff

[2021-09-20 08:15] #24 closed

[2021-09-20 16:37] madsrh commented on #28
Why is this issue reopened @Feichtmeier ?

You properly can't tell from my comment above, but I am a fan of floating action buttons - just not on the desktop. IMHO there's two issues here:
- The green circle is very attention grabbing (is green the correct color here?)
- The placement of the icon (I know it's aligned with the sidebar border). I've tried moving it to the bottom, but this looks odd

[2021-09-20 16:39] Feichtmeier commented on #28
Totally agree @madsrh

I've reopened because I wanted a better solution plus I'm redoing navigation and this thing is starting to become crap code (by me). I will try what you suggested

[2021-09-20 20:41] Feichtmeier commented on #77
Closing in favour of https://github.com/Feichtmeier/settings/issues/57 (included this idea there)

[2021-09-20 20:41] #77 closed

[2021-09-20 20:46] Feichtmeier commented on #59
I just realized that @Jupi007 has put the renaming of the computer into the info page 👍

If you guys agree with me I would close this issue and remove the "sharing page" from the list of wanted pages as I think that it is not needed to control file and media sharing from settings but rather dedicated apps
CC @mivoligo @madsrh @Jupi007 @jpnurmi

[2021-09-20 21:29] madsrh commented on #59
That sounds good to me. I've been pondering what to make of the sharing page since you assigned it to me 🙈 I have never used it.

I guess both places would make sense. OFC only if there's a "sharing" page with additional settings in anyway.

[2021-09-20 21:34] madsrh commented on #28
I do prefer this approach. Feels/looks much more coherent.

Question: when you launch the app, is the search field in focus so you can start typing right away? (Like in GSC)

[2021-09-20 21:45] mivoligo commented on #59
I never used the sharing page as well. For me it could be removed from settings.

[2021-09-20 22:05] Feichtmeier commented on #59
There is the very popular app remmina pre-installed which is not connected to this setting in ubuntu as far as I know.

[2021-09-20 22:06] Feichtmeier commented on #28
Could be possible to do yes. Currently you first need to click the search button

[2021-09-22 17:47] #28 closed

[2021-09-22 17:47] #78 closed

[2021-09-22 18:16] Feichtmeier commented on #59
Hmmmm re-thinking this a bit since there are actually three features:

- allow file sharing from pictures/music/video dirs
- allow screen sharing
- allow SSH

So maybe this page makes sense in the end - sorry for the german but I needed to record it from my host to show all features:
![sharing](https://user-images.githubusercontent.com/15329494/134399252-5a7b21f3-e92d-4553-b043-4639146684eb.gif)

[2021-09-22 18:41] Feichtmeier opened #82 "Scrolling to the clicked/tapped tile does not work"
I use a ScrollablePositionedList, ItemScrollController and scrollController.jumpTo(index: index) (currently not commited since it does not work)
but the list won't jump to the tabbed tile.
It worked in my "old and crappy" dialog thing but not in the new navigation.
I think it must be something with focus on the list but I can't figure it out :)

[2021-09-22 18:56] #65 closed

[2021-09-23 10:06] Feichtmeier commented on #14
Hm thinking about this for a while but I really like the clean look of one bg color plus the subtle borders
![grafik](https://user-images.githubusercontent.com/15329494/134489467-99689cc2-af74-4ba6-a4c4-d1f51e9a93ad.png)

I hope you don't mind if I close this issue? :angel:

[2021-09-23 10:08] Feichtmeier opened #86 "Make system info exportable as PDF/PNG"
It would be cool if one could press on an export button in the info page to receive a PDF/PNG/Html export of his system specs

![grafik](https://user-images.githubusercontent.com/15329494/134489708-2162963b-5c96-4317-8072-6d5e74344ee9.png)

Idea comes from @madsrh somewhere in the chat

[2021-09-23 10:21] Jupi007 commented on #86
What do you think of a `copy to clipboard` button?

[2021-09-23 10:25] Feichtmeier commented on #86
That would be also cool :thinking: Maybe both - clipboard + export to file? =)
I think @madsrh said the export to file feature can be found on macOS

There are several packages we could use on pub.dev for the exported file

[2021-09-23 10:25] madsrh commented on #14
OFC I don't mind 😁 But would you consider making the background slightly brighter?

[2021-09-23 10:27] Jupi007 commented on #86
Will take a look to both :)

[2021-09-23 10:42] Feichtmeier commented on #14
I did not change any colors inside the app but we can talk about this in yaru.dart :D :D :D opening an issue to discuss there :dancers:

[2021-09-23 10:42] #14 closed

[2021-09-23 10:42] madsrh commented on #86
I was inspired by:

```$ hwinfo --all --short --log hardware_info.txt```

but as Frederik said, copying a short list to the clipboard would be helpful if you need to file a bug, sell your rig,... (you get the idea)

[2021-09-26 09:50] jpnurmi commented on #60
I can start playing with this later.

[2021-09-26 15:08] Feichtmeier commented on #60
Thanks @jpnurmi 👍  😺

[2021-09-29 09:00] Feichtmeier opened #102 "Grab keyboard from the system in the KeyboardShortcutPage"
- we need to grab the keyboard form gnome-shell before recording the keys
- @jpnurmi has a possible solution for this problem which didn't work previously but could work now after flutter has reworked the keyboard implementation
https://github.com/jpnurmi/settings/commit/cd6c2e40d813a1fa2c5946182c328d5b267ebe0e

[2021-09-29 19:30] #51 closed

[2021-09-30 07:39] Feichtmeier opened #108 "Errors on fast Info page changes"
![Peek 2021-09-30 09-38](https://user-images.githubusercontent.com/15329494/135408846-4ad5a790-28a2-4076-b13d-797cf970c1b7.gif)

[2021-09-30 07:41] Feichtmeier commented on #108
Idea: could we eventually load all the DI stuff inside main? For all pages? Ofc this would increase the heap for startup but maybe it helps on those fast page swaps

[2021-09-30 07:48] jpnurmi commented on #108
Currently, services are (lazily) provided from main to avoid. It's also a possibility to make some of them pre-load and cache data.

That exception on fast page switch looks like a bug that needs to be addressed somewhere in the change notifiers or services. :)

[2021-09-30 07:49] jpnurmi commented on #108
A wild guess without any testing:
[code]

[2021-09-30 17:05] jpnurmi commented on #108
Oh, right. That explains. :)

GSettings objects are managed by the new SettingsService. When a model asks for a settings object from the service, the service either creates one if necessary, or returns an existing one from the internal cache if it already exists. The SettingsService is also in charge of disposing the settings objects so it doesn't need to be done all over the place. This means tha

[2021-10-01 16:00] Feichtmeier commented on #45
Fixed by #107

[2021-10-01 16:00] #45 closed

[2021-10-01 20:33] #60 closed

[2021-10-01 20:42] #13 closed

[2021-10-01 21:23] Feichtmeier commented on #27
I think we've successfully converted all pages to the MVVM pattern and wow so much better - thank you very much @jpnurmi for putting us on this path, everything is so much more easy and structured now :tada:

Thus closing !

[2021-10-01 21:23] #27 closed

[2021-10-01 21:31] Feichtmeier commented on #108
Sadly this does not purge the error - the error message is:

[code]
![Peek 2021-10-01 23-31](https://user-images.githubusercontent.com/15329494/135688460-af01e111-1f10-4271-8737-0d3fed46d737.gif)

[2021-10-02 09:14] Feichtmeier opened #112 "Make it possible to have individuals FABs on pages"
With the current architecture it feelds kind of hard to insert individual FABs for pages if wanted.

I found it could be made possible via PageItem but then I have hard times to access the model from there - any idea @jpnurmi @mivoligo or anyone else?

![grafik](https://user-images.githubusercontent.com/15329494/135710349-fb51c4cc-ce0a-42e5-ab85-7e050a08795a.png)

[2021-10-02 10:30] jpnurmi commented on #112
I'm afraid the idea of having a global list of PageItems is not going to work because there's no BuildContext available, which means that localizations wouldn't be available either. When you place widgets in the widget tree where a context is available, you will be able to access any provided service and model too.

[2021-10-02 11:23] #108 closed

[2021-10-02 14:07] Feichtmeier commented on #112
hmmm this is bad. Because the pages are wrapped inside singlechildscrollviews already, if you put a FAB via stack onto a page it scrolls with the page :(
I would prefer if the pageitem has a nullable FAB as an attribute and each pageitem could define it's own FAB. The FAB action would then be taken from the page or the model - really no way we could do this? I would prefer a FAB in some cases wher

[2021-10-02 14:21] Feichtmeier opened #114 "Power Page slider error"
[code]

Only happens when I close the notebook, video attaching ...

https://user-images.githubusercontent.com/15329494/135720659-d2a84f31-3e83-40f5-a3f4-55bbd3d06854.mp4

[2021-10-02 14:34] Feichtmeier commented on #114
'package:flutter/src/material/slider.dart': Failed assertion: line 147 pos 15: 'value >= min && value <= max': is not true.

when the screen of the notebook is disabled this error pops up
when you set the min value of the slidersettingsrow to -1 it works again

![Peek 2021-10-02 16-32](https://user-images.githubusercontent.com/15329494/135721060-1842ed91-c223-42f5-8052-063e1e33bf84.gif)

[2021-10-02 14:41] jpnurmi commented on #112
I think I phrased it wrong and probably misunderstood the problem too. ​I'm not saying you cannot have FAB's, scrollable pages, or anything else built out of widgets. 🙂

I understood you wanted have or create FAB's in PageItems, but the context would be wrong because they'd be called from a different context than where the page is.

What I meant to say is that it's better to keep widgets in their

[2021-10-02 14:56] Feichtmeier commented on #112
What I would like is this:

[code]

then pages could have a FAB or not

for example the wallpaper page would then be inserted like

[code]
and the WallpaperFloatingActionButton would just call a model action, but the problem is that I can not access the model from the FAB because the model is already attached to the WallpaperPage

[2021-10-02 14:59] jpnurmi commented on #112
Oops, mobile touch fail :D

[2021-10-02 14:59] Feichtmeier commented on #112
and the landscape layout could then use

[code]

[2021-10-02 15:00] jpnurmi commented on #112
Imagine that each setting page would be a separate package aka "module" and they wouldn't strictly assume the structure of the host app.

When it comes to communication, passing simple callbacks is a common way to communicate in a way the it allows both ends to process events in their own context.

[2021-10-02 17:04] jpnurmi commented on #112
Please don't create widgets out of context. Creating parentless widget babies is irresponsible! :point_up:

[2021-10-02 21:15] madsrh opened #116 "Wallpaper issues"
I know everything is WIP but I'm submitting this anyway. If you're already aware of these issues, just ignore this :smile:

1. Wording: When selecting a directory, the button on the orange bar at the bottom, should be labeled "Select directory" and not "Select **a** directory".

2. In the "dialogs" for _Select a wallpaper_ and _Select a location_, the breadcrumb labels needs styling (they aren't v

[2021-10-02 21:24] madsrh opened #117 "Missing app icon :gear:"
Once done, this settings app will be fantastic and so it should have a beautiful icon.
@Feichtmeier if you aren't planing on reusing/refurbishing an existing icon, perhaps we should summoning @ubuntujaggers :mage_man:

[2021-10-02 21:38] Feichtmeier commented on #117
hehe ^^
well I would love to take the settings app icon and even replace GCC in Ubuntu.

Currently I only start the app from within vscode but this is a very good point and we should take care of actually having a .desktop file and icon and all this production stuff!

[2021-10-02 21:40] Feichtmeier commented on #116
The issue with the appbar should be fixed inside the file picker package we use "upstream"

The other issue is def a bug introduced by me, thanks!

[2021-10-02 21:43] Jupi007 commented on #116
@Feichtmeier It is possible to customize folder icons inside the file picker?

[2021-10-02 21:44] Feichtmeier commented on #116
Only the color ... which turned to be pink in the light theme xD
Eventually we should fork the file picker because it looks kind inactive? Or try to improve it. But I think it is also possible to create our own filepicker with this package

[2021-10-02 21:46] Jupi007 commented on #116
Nice, those folder icons make me sad 😅

[2021-10-02 22:02] madsrh commented on #116
Maybe a monochrome style would work great here, like just use the symbolic icons :man_shrugging:

Also just noticed that when adding a location, the added folder isn't saved.

[2021-10-02 22:48] Feichtmeier commented on #116
monochrome is actually the default so we could just remove the color property
the problem with the not persistant location is that we need to store it outside of the app, so this is basically a missing feature not a bug but on the todo

[2021-10-02 23:12] madsrh opened #118 "Idea/discussion: less boxes"
Some pages have a lot of boxes/lines. I know this helps group and frame the controls together, but it also makes the UI look a bit cluttered IMHO. I wonder if just something like this could work. WDYT?

![lines](https://user-images.githubusercontent.com/3986894/135733937-d91e003d-2482-4108-87eb-960d91004252.gif)

Another example, same idea...

![lines2](https://user-images.githubusercontent.com/39

[2021-10-02 23:14] Feichtmeier commented on #118
I am not sure
But I agree that the optioncard boxes inside the settingssection looks weird.

[2021-10-02 23:16] madsrh commented on #118
Exactly!

I am not sure either 😄

[2021-10-02 23:40] Feichtmeier commented on #118
also we have three different versions of selecting stuff
![grafik](https://user-images.githubusercontent.com/15329494/135734495-2596a21e-4d62-47ab-afba-fe4f432dea1a.png)
I would just go back to the normal list tile look honestly (like the toggle buttons). everything looks a bit mixed up at the moment

[2021-10-02 23:59] Feichtmeier opened #119 "Selected widgets look too different"
We have three different versions of selecting stuff
![grafik](https://user-images.githubusercontent.com/15329494/135734495-2596a21e-4d62-47ab-afba-fe4f432dea1a.png)

_Originally posted by @Feichtmeier in https://github.com/Feichtmeier/settings/issues/118#issuecomment-932834508_

[2021-10-03 00:18] Feichtmeier commented on #114
still happens

[2021-10-03 00:20] #119 closed

[2021-10-03 00:26] #114 closed

[2021-10-03 13:08] #82 closed

[2021-10-03 14:53] Feichtmeier opened #124 "Kernel error if a power profile is not availible"
![grafik](https://user-images.githubusercontent.com/15329494/135759425-f59680e2-cdd7-4264-b84f-41493eee36aa.png)

[code]

[2021-10-03 15:08] Feichtmeier commented on #124
Kinda weird. The label says that the reason is that a laptop was detected. But I'm pretty sure this worked when the battery was full. So either they changed this in 21.10 or the label in GCC is just plain wrong

[2021-10-03 15:13] Feichtmeier commented on #124
Yep, everything fine for laptops, just the label is wrong :)

![grafik](https://user-images.githubusercontent.com/15329494/135760279-9ba6687c-3196-4766-9513-5d010176287b.png)

[2021-10-03 15:44] Feichtmeier commented on #117
It's actually only a .desktop file that is missing
and ofc some way to package the app ... as a... snap?

![grafik](https://user-images.githubusercontent.com/15329494/135761455-96098ee9-1918-4ae0-b4de-75299bc4407c.png)

[2021-10-03 17:46] jpnurmi commented on #124
The high-performance profile is not available when the battery is low?

[2021-10-03 17:49] Feichtmeier commented on #124
yes
when the battery is low. otherwise it's availible

[2021-10-04 06:26] Chandram-Dutta commented on #86
Hey...I have forked the project to add that functionality to export system info using pdf...I am using PDF package
https://github.com/Chandram-Dutta/settings

[2021-10-04 07:27] Feichtmeier opened #127 "Release the app as a snap"
- include a . desktop file
- include the snap code
- include an app icon, see

[2021-10-04 13:38] Feichtmeier commented on #116
https://github.com/andyduke/filesystem_picker/pull/32

[2021-10-04 14:03] #116 closed

[2021-10-04 16:11] Feichtmeier opened #131 "Appearance page: too much space used"
Imo the current appearance page uses too much space for the first section.
![grafik](https://user-images.githubusercontent.com/15329494/135886192-5c8ffe03-85e0-4a5c-bbc1-b321473ee6de.png)

It is actually the dark mode section. How about this simple solution:

![grafik](https://user-images.githubusercontent.com/15329494/135885598-29bd409b-3b45-422d-8a6c-9a0b8b65bce6.png)

![onoff](https://user-imag

[2021-10-04 16:53] Feichtmeier commented on #86
Great! Pull requests are welcome and I think @Jupi007 didn't start on this yet, or did you?

[2021-10-04 16:58] madsrh commented on #131
I do love any kind of "bling", but this card solution isn't working, so I'm +1 for removing it.
Your suggestion is super simple and 100% works.

Maybe it's just the implementation that isn't perfect 🤷‍♂️ Perhaps something simpler?

![image](https://user-images.githubusercontent.com/3986894/135892417-a7ef3bc2-7e75-4d2d-a87e-66f85a211449.png)

It just add an icon

![image](https://user-images.github

[2021-10-04 17:47] Jupi007 commented on #86
Nope I didn't, you can do it if you want @Chandram-Dutta :)

[2021-10-04 17:59] Jupi007 commented on #131
@Feichtmeier Good idea :)

[2021-10-04 18:50] Feichtmeier commented on #131
The trailing icon is a good idea, but we need a new widget for this which is no problem. I try later

[2021-10-04 22:09] Feichtmeier commented on #131
haha so much refactoring for the row but it is a good idea and we could use this pattern with the trailing icon elsewhere.

![grafik](https://user-images.githubusercontent.com/15329494/135931500-a09a31af-55ed-46a2-98c9-5f496b75854d.png)

and this screenshot almost burned out my eye...
![grafik](https://user-images.githubusercontent.com/15329494/135931538-e9a7cdd8-6d0f-414a-9ddf-62a8e7f0ec2c.png)

[2021-10-05 07:52] Feichtmeier commented on #131
@Jupi007
![Peek 2021-10-05 09-52](https://user-images.githubusercontent.com/15329494/135982625-c190cd54-797e-4003-9dd6-bbb63ad2ec2d.gif)
is this okay or you think we need explicit yaru icons for this? took the weather icons ^^

[2021-10-05 09:04] Jupi007 commented on #131
Imo these ones looks very good :)

[2021-10-05 09:15] #131 closed

[2021-10-05 09:51] Chandram-Dutta commented on #86
Sure...ig it would be my first PR to any open source project...I could complete it tomorrow...and maybe we could also add a "copy to clipboard" button in each of the system details...

[2021-10-05 10:20] Jupi007 commented on #86
Nice :)

About the `copy to clipboard` button, as I made each text row selectable on the info page (and so easily copyable), imo you should prefer create a global button instead.

[2021-10-05 10:38] Chandram-Dutta commented on #86
@Jupi007  That would be better...

[2021-10-05 21:52] madsrh opened #135 "Idea/discussion: Add "solid color" option for background"
I know a lot of people just want a plain black background, so it might be worth adding an option to use a solid color. I'm not sure how the interface should look, but I've been looking at old [Ubuntu ](https://www.omgubuntu.co.uk/wp-content/uploads/2012/04/Screen-Shot-2012-04-26-at-13.42.jpg)and [XFCE ](https://docs.xfce.org/_media/xfce/xfdesktop/4.11/xfdesktop_scrsh16.png)screenshots as inspirati

[2021-10-05 22:03] madsrh opened #136 ""Settings" in the sidebar is odd"
I've mentioned this is https://github.com/Feichtmeier/settings/issues/28 but we never got around to discussing it. IMHO the "Search" label above the sidebar is unnecessary. I would be better to just add a text to show the user that there's a textfield.

![search](https://user-images.githubusercontent.com/3986894/136108889-45e9fce7-aaff-459a-b6be-5c62bac20ec6.gif)

[2021-10-05 22:07] Feichtmeier commented on #135
Very nice @madsrh , thank you <3

[2021-10-05 22:08] Feichtmeier commented on #136
True! As long as we keep that gtk3 headerbar at the top, the double "settings" is stupid

Maybe maybe, some far time in the future when we have enough flutter apps in ubuntu we can overwrite the gtk3 headerbar with a flutter widget and do our own stuff in this region. But this is hypothetical

[2021-10-05 22:09] Feichtmeier commented on #135
Would it be ok if we put the color selection into a dialog instead?

[2021-10-06 10:35] Chandram-Dutta commented on #86
Added the Functionality😉
PR #137

[2021-10-06 18:54] Feichtmeier opened #138 "Add a gnome shell search provider"
Pages in settings should be searchable from within the gnome-shell search

![Bildschirmfoto von 2021-10-06 20-53-48](https://user-images.githubusercontent.com/15329494/136265374-2601c6b4-407c-4eb6-a4a2-09f44e220fcd.png)

[2021-10-07 21:21] Feichtmeier commented on #136
@madsrh but if the search field is already visible  - what should the button with the 🔍  actually reveal then?

[2021-10-07 21:32] HosamHasanRamadan commented on #20
I will work on this page as soon as possible

[2021-10-08 08:46] #135 closed, assigned to Feichtmeier

[2021-10-08 10:57] Feichtmeier commented on #136
@madsrh

What about this?

![grafik](https://user-images.githubusercontent.com/15329494/136545026-b4ec4f47-19f1-4767-8f65-cf709b16b3c5.png)

-->

![grafik](https://user-images.githubusercontent.com/15329494/136545123-ec4abfe1-2f99-4e6c-8c2f-760299225479.png)

[2021-10-08 15:20] Feichtmeier opened #145 "Align search icon with list tile icons"
Just curious, is it a deliberate choice that you didn't align it?

![image](https://user-images.githubusercontent.com/3986894/136581360-93981189-afb3-4d40-81f6-3e8c0bcdc7ed.png)

_Originally posted by @madsrh in https://github.com/Feichtmeier/settings/issues/143#issuecomment-938724399_

[2021-10-08 15:34] #145 closed

[2021-10-08 18:42] madsrh commented on #145
🤷‍♂️ And yet you merged it anyway? I agree, it doesn't have to be aligned, but when it is, the layout is more "calm" (not sure if that is the correct translation).

[2021-10-08 23:10] madsrh opened #148 "More readable shortcuts"
I'm aware of #102 but we better keep this discussion separate 😃

The correct text is there, but it could be presented a bit more human friendly.
Just a note: I think **Navigation shortcuts** should just say **Navigation**

![shortcut_](https://user-images.githubusercontent.com/3986894/136632873-b00a5da3-51e0-4fe0-94e5-10b557cbefd8.gif)

Or maybe add the styling from the popup dialog:

![shortcuts]

[2021-10-09 19:47] Feichtmeier opened #149 "removable media page: use dropdowns instead of togglebuttongroup"
As @mivoligo said, if the translation is too long the buttons won't work, so I'll redo it with dropdowns, even if I am nto a fan of dropdowns, material dropdowns look fancy 👾

[2021-10-10 16:45] #149 closed

[2021-10-12 21:50] madsrh opened #152 "Add kernel version to info page"
As mentioned on OMG ubuntu, it would be great if the _Info_ page showed the kernel version 😄

I would also suggest moving the _OS type_ to the same line as the _OS name_ and just renaming it to OS. WDYT?

![image](https://user-images.githubusercontent.com/3986894/137033749-3579405f-1ad7-44c9-b89b-d210fdf6cf7e.png)

[2021-10-13 09:40] #152 closed

[2021-10-13 21:50] madsrh opened #155 "Styling export button(s) on info page"
IMHO **Export** is a bit too vague, so I was wondering if the label could say **Export as PDF**?

Here's a few ideas. WDYT?
Can I just assign you again @Jupi007 ? 😄

Sorry for not using the correct icons 🙈

![export](https://user-images.githubusercontent.com/3986894/137217226-d40784e4-e61c-427c-998a-7ca511b19c7e.gif)

[2021-10-14 06:20] madsrh commented on #155
I doubt anyone would need to copy _X11_ or _16 Gb_ 😄 I think that would look a bit too crowed too. Anyway, I noticed that the text is selectable, so there's no need for this.
My idea with the full report to clipboard, was that if you're submitting a bug you can easily paste your system info 🤷‍♂️

![image](https://user-images.githubusercontent.com/3986894/137262151-2f99ad0d-37a4-4d80-be43-01d3f9354

[2021-10-14 08:59] madsrh commented on #155
I agree 👍

What do you think about the styling? IMHO the green is a bit too attention grabbing for something that very few users will use. Also, do you prefer the no icon version?

[2021-10-14 11:19] #155 closed, assigned to Jupi007

[2021-10-18 14:32] madsrh opened #158 "Rename Add a printer button"
@Feichtmeier I know the PR is still WIP but I think the _Add a printer_ button should use the **+** icon and perhaps just say _Add printer_

Related to #118 I wonder if the printers could just listed, rather than each of them having their own "box" 🤷‍♂️

I don't print anything from Linux, but are the days of having a default / standard printer gone? I remember [there being a checkmark](https://www

[2021-10-18 14:42] #158 closed, assigned to nobody

[2021-11-08 09:25] Feichtmeier opened #161 "Move common widgets to yaru_widgets new repository and pub.dev"
Many widgets used here and the installer could be used in more flutter linux desktop applications or even on  tablets for example:

- SettingsSection (needs new name)
![grafik](https://user-images.githubusercontent.com/15329494/140716050-12a1f519-fbd5-4247-8ea3-49a822f10a7d.png)

- SettingsRow (needs new name)
![grafik](https://user-images.githubusercontent.com/15329494/140716085-d449122c-ca02-459

[2021-11-12 15:52] #161 closed

[2021-11-13 00:45] madsrh opened #166 "Wi-Fi page thoughts"
As always, if you disagree with any of these thoughts, feel free to close this issue 😄

- Typo: The label needs to be renamed to Wi-Fi (not wifi)

- Maybe a stupid question, but what is this **wlp0s20f3**? I genuinely don't know 🙈 I was expecting something like "**Available connections:**"

![image](https://user-images.githubusercontent.com/3986894/141598283-4257bb26-9e76-43c9-b915-00ede89fc769.pn

[2021-11-13 00:55] madsrh commented on #166
I had a look at the Canonical mockups and did a "consolidated version" of their connections page ;)

![image](https://user-images.githubusercontent.com/3986894/141599292-863580a0-6eb0-42e5-a449-f3b1e27c0ad8.png)

[2021-11-13 07:45] Feichtmeier commented on #166
Thanks @madsrh !
Will fix this
Also I didn't find the icon for cellular network but I'm sure it's there

[2021-11-13 12:50] Feichtmeier commented on #166
@madsrh

![grafik](https://user-images.githubusercontent.com/15329494/141644406-13d7acec-23df-4601-bd25-24eaf1f2327e.png)

![grafik](https://user-images.githubusercontent.com/15329494/141644437-587ac319-0bb9-4353-9002-ecb9c4c31d0f.png)

[2021-11-13 12:58] madsrh commented on #166
🎉 @Feichtmeier

Only missing the Wi-Fi typo 📶

[2021-11-13 13:09] Feichtmeier commented on #166
![grafik](https://user-images.githubusercontent.com/15329494/141644958-8841c042-9d7a-4e84-99e1-81508c9554d9.png)

And a missing cellular network icon :angel:
@Jupi007 Could you add it if you have time?

[2021-11-13 13:16] Jupi007 commented on #166
Ofc :)

[2021-11-13 14:33] #166 closed

[2021-11-13 15:43] Feichtmeier commented on #20
Thanks to @HosamHasanRamadan we are a good step forward here.

Features missing:

- select encryption method
- connect to hidden wifi networks
- a connection settings dialog inlcuding a forget connection button

[2021-11-14 21:39] madsrh opened #172 "caret-color should match text color"
The caret color is currently orange, but should match the text color

![image](https://user-images.githubusercontent.com/3986894/141699634-751184f0-c004-443f-996c-466ce4b4ec66.png)

[2021-11-16 10:27] asimfarooq5 opened #174 "Failed to load dynamic library 'libgio-2.0.so'"
Using Ubuntu 21.10, the app fails to start
[code]

[2021-11-16 10:28] asimaarbi commented on #174
Here is the startup logs
[code]

[2021-11-16 13:16] Feichtmeier commented on #174
Hi there 😊

Did you install flutter with the snap?

[2021-11-16 13:30] asimaarbi commented on #174
Yes, that's true. That's the official way of installing flutter on Ubuntu

[2021-11-16 14:22] Feichtmeier commented on #174
Ok :) currently there is a little problem with the flutter snap and 21.10 but this will be fixed soon.
If you don't want to wait.
Remove the snap
Then

[code]

[2021-11-17 08:14] asimfarooq5 commented on #174
Thanks, I have tried the suggested way and It's working now.

[2021-11-17 08:46] #174 closed

[2021-11-17 08:46] Feichtmeier commented on #174
Great, thanks for pinging back :)

[2021-11-18 19:47] Feichtmeier commented on #47
https://pub.dev/packages/googleapis

[2021-11-28 11:19] krillefear commented on #127
I would like to try this :-D

[2021-11-30 22:50] Feichtmeier commented on #127
Thanks for the help @krillefear
We are still missing a lot of pages though, currently slowed the development a bit down due to some IRL stuff, but hopefully back soon 🤞

[2021-12-06 17:47] #21 closed

[2021-12-06 19:15] Feichtmeier opened #175 "Missing Bluetooth features"
- process incoming pairing requestd to the Ubuntu machine from device xyz
- implement code exchange when pairing with a keyboard
- open matching page for certain devices (mouse, sound, keyboard, wacom)
- revisit BluetoothDeviceRow on dialog close

[2021-12-07 17:52] #20 closed

[2021-12-07 17:54] Feichtmeier opened #177 "Missing network features"
- select encryption method for wifi
- connect to hidden wifi networks
- a connection settings dialog inlcuding a forget connection button
- add ethernet network page
- add celular network page

https://user-images.githubusercontent.com/15329494/145081173-fad7296f-783e-4cd2-a93e-ffe424c7a3ba.mp4

[2021-12-07 18:04] Feichtmeier opened #178 "Use a libhandy window to get all four window corners rounded"
Currently only the top window corners are rounded
![image](https://user-images.githubusercontent.com/15329494/145081876-a1a7b587-d118-47b9-8163-d4affb26cbff.png)

Libhandy is a GTK lib to build gtk3 apps with border-radius in all edges.
Currently in ubuntu 21.10 it is used by almost all apps
i.e. nautilus
![image](https://user-images.githubusercontent.com/15329494/145081584-850dd6a7-e716-421f-9ce8

[2021-12-07 19:47] #178 closed

[2021-12-11 11:19] Feichtmeier opened #182 "Bundle in the release needs libgio-2.0.so to be installed"
If one starts the settings binary from the bundle (for example in the extracted release) without libgtk-3-dev installed the following issue occurs and the app starts with an empty window:

[code]

So the shared object libgio-2.0.so needs to be somehow put into the bundle.
Does anyone know how to export those shared objects with cmake?

CC @kenvandine @clobrano @Muqtxdir

[2021-12-11 12:57] kenvandine commented on #182
I suspect this is actually a bug in gsettings.dart with it's use of libffi.  It's should be loading the versioned so.

[2021-12-12 10:19] Feichtmeier opened #183 "Upgrade gsettings.dart to 0.2+"
The package has been completely reworked. Updating to 0.2+ will most likely fix https://github.com/Feichtmeier/settings/issues/182
as suggested here by JP: https://github.com/canonical/gsettings.dart/issues/22#issuecomment-991661694

[2021-12-12 12:14] jpnurmi commented on #183
I can help with this. 🙂 There are some fixes needed in gsettings.dart 0.2 too.

[2021-12-12 18:17] Jupi007 commented on #172
This should be fixed in `yaru.dart` using `TextSelectionThemeData.cursorColor`.

[2021-12-13 08:05] Feichtmeier opened #189 "Wallpaper page: add an option to use the current wallpaper of the day (Google Earth, Bing, NASA)"
~~Use Google earth wallpaper of the day~~
- [x] Use Microsoft Bing wallpaper of the day #215
- [x] Use NASA wallpaper of the day
- [x] #385

~~- eventually install a dart demon process to automatically update it after a certain period~~ <- this is too complicated for our project

[2021-12-13 08:06] madsrh commented on #189
Nice 👌

[2021-12-13 08:34] Feichtmeier opened #190 "ConnectionsPage: tab hover and active border radii do not match selected"
![grafik](https://user-images.githubusercontent.com/15329494/145778618-f79e62c4-08f6-4f73-bb5f-7012a191f96f.png)

[2021-12-13 21:25] #183 closed

[2021-12-14 08:53] Feichtmeier opened #192 "Notifications page: filter away uninstalled apps with"
The NotificationsPage currently shows all gsetting aplications children for the notification schema even those that have been removed from the system.
For me it is very obvious because I did not uninstall this machine since 20.04 and always updated :laughing:

https://user-images.githubusercontent.com/15329494/145965167-5422ff40-43f2-4ff0-97e9-98c3352a1c8a.mp4

The apps not installed should not be

[2021-12-14 09:59] Feichtmeier commented on #182
Fixed with #191
![grafik](https://user-images.githubusercontent.com/15329494/145975502-9f916e6a-c34b-4497-8c4b-f23a7ebfc29b.png)
:partying_face:
Need to make a new release then

[2021-12-14 09:59] #182 closed

[2021-12-14 15:47] Feichtmeier opened #193 "Missing page: multitasking"
Very gnome related so there is no other related implementation than GCC:

![image](https://user-images.githubusercontent.com/15329494/146031441-c5593fa0-91e7-4745-9473-805a9eecc52b.png)

Eventually we could need a new widget in yaru_widgets for those rows with "a belly"

[2021-12-17 13:59] Feichtmeier opened #194 "BluetoothPage: do not load if no bluetooth adapter is availible"

[2021-12-17 19:53] #193 closed

[2021-12-17 20:06] Feichtmeier opened #198 "Check if schemas are installed?"
Should we check if certain schemas are installed? And if not disable the corresponding section?
For example if one disables dash to dock
Or the new multitasking page is only available in 22.04 daily so far
Alternatively, since settings is still in early alpha, we could start to think about releases a bit more "smart" and make different releases for different distro versions

CC @jpnurmi @Jupi007

[2021-12-17 20:14] Jupi007 commented on #198
Imo, make missing schemas related section disabled could be better (and simpler to maintain).

For example, I don't use DashToDock and so I don't have related shemas. It should be disabled for me.

[2021-12-17 21:07] jpnurmi commented on #198
Totally agree, the app should not throw even if any schema is missing. :+1: Make sure to use `fooSettings?.bar` everywhere and never assume them being available/non-nullable (`fooSettings!.bar`).

[2021-12-19 12:16] #172 closed

[2021-12-19 12:26] Feichtmeier commented on #124
Oh, actually I've fixed this :D

[2021-12-19 12:26] #124 closed

[2021-12-19 21:56] Jupi007 opened #204 "Bluetooth page crash without bluetooth dongle"
This only happens when I don't have my bluetooth dongle connected.

If you click on the bluetooth page, and then on any another one, the app throw an exception when dispose the `firstAdapter` service:

[code]

[2021-12-19 22:01] Feichtmeier commented on #204
It's a duplicate of #194 :D

[2021-12-19 22:02] Jupi007 commented on #204
Sorry 🤕 😥

[2021-12-19 22:02] #204 closed

[2021-12-19 22:04] Jupi007 opened #205 "Power page crash due to Power.Keyboard property"
**Note:** I'm using a desktop computer without any control of brightness.

It looks like the app crash because I don't have the `org.gnome.SettingsDaemon.Power.Keyboard` schema installed.

[code]

_In `power_settings_service.dart` line 80._

@Feichtmeier I hope this one is not duplicated 😅

[2021-12-19 22:16] Jupi007 opened #206 "Fill l10n catalogue"

[2021-12-20 10:12] Feichtmeier opened #207 "PowerPage: round the battery bar"
![grafik](https://user-images.githubusercontent.com/15329494/146750760-50d7fa30-4c61-4ff1-a275-e614988000db.png)

[2021-12-20 11:33] Jupi007 opened #209 "SimpleDialog widget miss a close button"
I know I can close the dialog by click outside, but I always feel uncomfortable when a dialog don't have a close button (and I think some other people can also be like me).

I propose to create a `YaruSimpleDialog` widget like this (this will also allow to centralise padding infos):

![Capture d’écran du 2021-12-20 00-30-50](https://user-images.githubusercontent.com/36476595/146761085-8c37b14e-9fd

[2021-12-20 11:43] Feichtmeier commented on #209
Nice idea!

[2021-12-20 11:44] Feichtmeier commented on #209
Could you do this in
yaru_widgets.dart ?

[2021-12-20 11:44] Jupi007 commented on #209
Yes, ofc :)

[2021-12-20 11:50] Jupi007 commented on #207
We can wrap the progress inside a `ClipRRect`:

[code]

Maybe also create a new yaru widget `YaruLinearProgressIndicator`?

[2021-12-20 11:59] Feichtmeier commented on #207
Good idea because it is not changeable within the material theme!

[2021-12-20 21:18] #209 closed

[2021-12-20 21:38] #207 closed

[2021-12-22 10:17] krillefear commented on #127
Sorry... looks like I failed with this task. I have tried a lot to make this work but I ran into bugs every time. So this is my current approach:

[code]

And it crashes while trying to build it with flutter with this error:

[code]

I guess `No package 'libhandy-1' found` is the important error here. Looks like there is no libhandy package in Ubuntu 18.04?

[2021-12-22 18:27] Feichtmeier commented on #127
Thanks for investing time into this @krillefear !

Libhandy is needed to get the four rounded window corners
Eventually use a more up to date ubuntu as the snap base? Would this be possible?

[2021-12-23 09:26] krillefear commented on #127
The flutter plugin is only compatible with core18 but I will try out what happens if I overwrite the build step

[2021-12-23 10:35] krillefear commented on #127
Okay I ran into another problem I already had with other flutter apps:

[code]

With the current snapcraft.yaml file:
[code]

I don't know how to fix this. The only way I see is, to prebuild the app in any kind of CI and then package the prebuilt executable with snapcraft. Thats how it works for FluffyChat as well.

[2021-12-23 19:48] kenvandine commented on #127
Using gnome-3-38 you don't need to build libhandy yourself, as it's included in the SDK snap.  Here's a modified yaml that built for me:

`
name: settings
base: core20
version: git
summary: Unofficial Ubuntu Desktop Settings App made with Flutter
description: Unofficial Ubuntu Desktop Settings App made with Flutter

grade: stable
confinement: devmode

parts:
  settings:
    plugin: nil
    source:

[2021-12-24 09:23] krillefear commented on #127
I have tried it out and on my machine I ran into the same error with `Target kernel_snapshot failed: Exception`. I use a Ubuntu 20.04 desktop PC with 16GB RAM. I will try the remote-build now. Maybe this helps...

[2021-12-24 09:36] krillefear commented on #127
This failed as well but we have full logs here now at least:

[code]

[2021-12-25 14:14] Feichtmeier opened #214 "Use new auto-hide and dock/panel mode icons in the appearance page"
https://github.com/Feichtmeier/settings/pull/213

[2021-12-25 18:20] YoussefLasheen commented on #189
Can I be assigned this issue?
I already made a pull request

[2021-12-25 18:32] Feichtmeier commented on #189
@YoussefLasheen thanks for working on this!
Will review it as soon as I can!

[2021-12-26 11:18] Feichtmeier opened #216 "WallpaperPage: use gnome's .local/share/backgrounds for added pictures"
Instead of trying to "provide your own wallpaper collection"
let's stick to gnome control center and just provide the functionality to add pictures to the list of preinstalled wallpapers.
Those pictures can then be copied over to .local/share/backgrounds and then a list created from this dir is concatinated to the gridview of preinstalled apps or used to create a second gridview (whatever looks be

[2021-12-26 15:37] #216 closed

[2022-01-02 14:36] #214 closed

[2022-01-04 18:16] mivoligo commented on #198
What would be the best way to handle that?

So far if a schema was not found, a getter in a model was nullable and a widget with settings for that schema would build empty SizedBox if the value was null. That made the widget invisible in the app UI.

Problem is that we can see the "red screen of death" and null values error for a split second due to the time taken by the service to read the schema

[2022-01-04 18:40] mivoligo opened #229 "Infographics when dock position is other than default"
I've noticed the new lovely graphics on Appearance and Multi-tasking pages :heart_eyes:
Personally I have my dock at the bottom of the screen and the graphics have dock on the left.
What do you think of creating more of the graphics for different dock positions and displaying them according to the current dock position selected by a user?

[2022-01-04 19:07] Feichtmeier commented on #229
Would be very nice

@Muqtxdir could you do this when you have time?

[2022-01-04 20:22] Muqtxdir commented on #229
I like this idea, thanks for this suggestion.

@Muqtxdir could you do this when you have time?

sure, I'll create them for other remaining positions.

[2022-01-04 20:35] jpnurmi commented on #198
Using default values is safer but then you can't detect/visualize it in the UI.

In general, personally, I'd prefer things to be disabled when they are not available because dynamically appearing UI elements tend to cause flicker while the data is being asynchronously initialized. There are probably cases where it doesn't make sense to show something if it's not available, though, but I'd keep suc

[2022-01-04 20:41] Feichtmeier commented on #198
So we should rather check for null and only show stuff in the view if the model getter do not return null?

[2022-01-04 20:41] mivoligo commented on #198
I'm fine with displaying them as disabled if a schema is missing but not sure how to achieve tbh :slightly_smiling_face:

[2022-01-05 08:21] jpnurmi commented on #198
Disabling widgets is a bit clumsy in Flutter because one mostly needs to conditionally pass null to various `onPressed`, `onTap`, `onChanged`, `onSelected` handlers. There are only a few widgets that have a nice and clean `enabled` property. Nevertheless, `IconTheme` and `DefaultTextStyle` can be used to complete the looks by setting disabled colors for non-interactive labels and icons.

For examp

[2022-01-05 11:57] mivoligo commented on #198
Sorry, I wasn't clear probably. I get how to disable widgets in Flutter in general. What I'm not sure is: on what basis we are going to have them disabled in this app. If we don't allow getters to be nullable if a schema doesn't exist, how the widget would know if it should be disabled or not? Or are we allowing nullable getters and instead of hiding widgets, we make them look disabled?

[2022-01-05 12:05] jpnurmi commented on #198
Oh, it was a misunderstanding. :smile: Yeah, as commented above, the properties must be nullable indeed to be able to detect missing values. I'd definitely go with nullable values because that's the natural way to present missing values, after all. :+1: Returning some arbitrary default values just to be able to make the properties non-nullable might be safer, but then it becomes impossible to dete

[2022-01-05 12:10] mivoligo commented on #198
OK, thanks!
I see the widgets are in a separate package now. So we need to start there. I could try and do a PR later on.

[2022-01-05 14:45] Feichtmeier opened #230 "Keyboard page todo"
- grab keyboard from the desktop
- load description from service and show them in the reorderable list but view
- implement the case for a layout without a variant
- move more code from the view callbacks to the model

[2022-01-06 10:08] Feichtmeier opened #231 "WallpaperPage: too much memory allocated and only slightly freed"
It looks like the wallpaper page is not correctly "freeing up memory space" after closing it.
Every time it is reloaded the memory grows by about 150 MB. It slowly shrinks but it is def. too slow.

Any idea why this is happening @jpnurmi ?
![ya](https://user-images.githubusercontent.com/15329494/148366730-22fc5ae7-c042-4c67-89d2-da9dd00f6451.gif)

[2022-01-06 10:52] jpnurmi commented on #231
AFAIK, the OS doesn't reclaim unused memory from the process immediately if there's no need to. Because of that, you cannot use a process manager to monitor effective memory usage. You can use [DevTools](https://docs.flutter.dev/development/tools/devtools/overview) to profile memory usage.

[2022-01-06 11:50] Feichtmeier commented on #231
ok
eventually I could fetch the images at the first page load via a service and then only update those images when something changes :thinking:

[2022-01-09 17:05] Feichtmeier opened #238 "Widget request: selectable asset tiles"
I think we maybe need some sort of new widget for this which is similar to OptionCard or maybe make OptionCard better and an generic `YaruOptionCard<t>`:

![grafik](https://user-images.githubusercontent.com/15329494/148684160-b598d1fa-2157-45cf-a231-6c794021d759.png)
![grafik](https://user-images.githubusercontent.com/15329494/148684173-3bf4f320-2b79-4f28-9a39-c61f21300bd6.png)

This is just way t

[2022-01-09 22:25] #238 closed

[2022-01-10 02:59] #229 closed

[2022-01-10 02:59] Feichtmeier commented on #229
Fixed :) thanks everyone

[2022-01-10 11:39] HosamHasanRamadan commented on #177
Hello @Feichtmeier, I will continue my work on the wifi page as soon as possible.

[2022-01-10 11:46] Feichtmeier commented on #177
Thank you for the news @HosamHasanRamadan :)

[2022-01-10 19:13] Feichtmeier commented on #206
Small note: do not use for loops on some model list / enum objects to create list children - this does not work well with localization :)

[2022-01-10 19:26] Jupi007 commented on #206
I'll work on this soon :)

[2022-01-11 17:19] Feichtmeier opened #243 "Accessibility key not found"
Several keys are not found including screen keyboard and mouse keys

CC @mivoligo

[2022-01-11 17:29] mivoligo commented on #243
Can you give more details, please?

[2022-01-12 09:01] Feichtmeier commented on #243
When clicking "Mouse keys":

[code]

When Clicking "simulated secondary click" in the click assist dialog
[code]
Same for screen keyboard
Etc

It looks to me that org.gnome.desktop.a11y changed its name or its keys

[2022-01-12 09:17] mivoligo commented on #243
I have the same error messages but those settings still seem to work
properly. I'll have another look later on.

On Wed, 12 Jan 2022, 09:01 Frederik Feichtmeier, ***@***.***>
wrote:

[2022-01-12 16:04] mivoligo commented on #243
I had a look today and I can't find the problem. It reads the values properly, changes them when changed from the app or from an external app like Dconf or Gnome Settings. Yet it shows the error. I would think the problem might be in gsettings package.
![Peek 2022-01-12 16-02](https://user-images.githubusercontent.com/1629120/149176535-9dc1e597-f3d8-4597-b489-5de9ad6efb5f.gif)

[2022-01-12 18:58] Feichtmeier commented on #243
Strange - something changed from 20.04 (where you've developed this) to 21.10 regarding the schema? I have no idea really the schema is there and they keys are the same AND it does what it should do :shrug:

[2022-01-12 19:22] mivoligo commented on #243
gsettings changed :smile: I'll try to create a minimal app to reproduce this and see if there's the same issue.

[2022-01-13 09:42] Feichtmeier opened #249 "Split dock page and multi tasking page file into more files"
This is getting way too crowded

[2022-01-14 17:49] mivoligo commented on #205
Hey @Jupi007 I have the same issue. Although for me the doesn't crash, just the error shows up in the console.
I have an idea how to fix it but can you check one thing for me, please?
Can you try moving the screen brightness slider and see if it changes position for you? For me it does not but for @Feichtmeier (who has working keyboard brightness) it does work.

I believe those issues are related

[2022-01-14 17:58] Jupi007 commented on #205
@mivoligo Just retried: the slider doesn't move at all. The app doesn't crash, and there's indeed an error in debug console:
[code]

[2022-01-14 18:00] mivoligo commented on #205
@Jupi007 Thanks! I'll create a PR later on.

[2022-01-14 18:00] Jupi007 commented on #205
Nice :)
Thank you!

[2022-01-14 18:16] mivoligo commented on #205
Checkout the PR when you find some time :)

[2022-01-19 07:13] Feichtmeier commented on #46
Note:

- lock-screen: org.gnome.desktop.screensaver
- trash: org.gnome.desktop.privacy remove-old-trash-files false
- temp files: org.gnome.desktop.privacy remove-old-temp-files true
- reporting: org.gnome.desktop.privacy report-technical-problems true
- location: org.gnome.system.location enabled false

[2022-01-19 09:15] #205 closed

[2022-02-03 18:04] atsen-dev commented on #58
Hello, I'm trying to make a first implementation of this page, I'll notify you here when my advance can be showed in a picture here.

Thanks

[2022-02-03 19:30] Feichtmeier commented on #58
Awesome thanks! If you want to get Infos about the dbus methods there is a nice tool for reading the dbus methods called d-feet (sudo apt install d-feet)

I've tinkered a bit on the display branch with the dbus methods but it's far from done. Maybe you can reuse the code

[2022-02-04 13:42] atsen-dev commented on #58
Hello, I'll see that.

I have some questions, I don't know what resolutions I have to keep and remove from available resolutions, here what I have at this time :
![answer-for-resolutions](https://user-images.githubusercontent.com/32575538/152538486-d105e9ca-e7df-45a9-ac2e-fc4807bb6d61.png)

I'm able to call GetCurrentState method and retrieve some data for now.

Thank in advance

[2022-02-04 14:18] Feichtmeier commented on #58
I would keep all resolutions available. I guess if a display doesn't support it out wouldn't be on the list

[2022-02-04 15:22] Muqtxdir commented on #58
would make sense to split the resolution after @ and show it separately as Refresh rate?

[2022-02-05 08:27] Feichtmeier commented on #66
Fixed with #66

[2022-02-05 08:28] #66 closed

[2022-02-10 21:03] Feichtmeier commented on #58
@atsen-dev thanks for the update!

[2022-02-15 18:42] Feichtmeier opened #266 "Include a search behaviour from top down"
With https://github.com/ubuntu/yaru_widgets.dart/pull/87
we need to include the YaruSearchAppBar higher in the tree

[2022-02-16 08:54] Feichtmeier commented on #266
Closes by  #267

[2022-02-16 08:54] #266 closed

[2022-02-17 19:20] #46 closed

[2022-02-17 19:21] Feichtmeier opened #270 "Missing sub-page: Privacy->thunderbolt"
![image](https://user-images.githubusercontent.com/15329494/154555028-18503fd4-3605-4134-bca2-a5eb09036e90.png)

[2022-02-17 19:44] Feichtmeier opened #272 "PrivacyPage: improve dialog animations"
Current:

https://user-images.githubusercontent.com/15329494/154558670-6ef77e91-b768-4304-81a0-38769071f4f2.mp4

Ideas:

- shaking trash icon
- @Jupi007 : maybe a kind of transition between the full trash icon and the empty one + shaking

[2022-02-17 19:49] Feichtmeier commented on #59
I remove this page from the TODO, because gnome will remove it to and we all agreed that it doesn't make much sense.
The host renaming is included in the info page

[2022-02-17 19:49] #59 closed

[2022-02-21 21:38] #194 closed

[2022-02-22 06:56] Feichtmeier commented on #112
Even though I understand more stuff here now, since you explained it to me in the context (pun intended) of titles, FABs are not really needed anymore from a design perspective! Closing

[2022-02-22 06:56] #112 closed

[2022-02-22 11:43] Feichtmeier opened #289 "left pane width - 280 or less?"
Sometimes I feel that 280 is too large for the left pane

| 280 | 260 |
|-|-|
|![Bildschirmfoto von 2022-02-22 12-33-18](https://user-images.githubusercontent.com/15329494/155124282-cd599982-111a-4d10-afdf-6694c4021088.png) | ![Bildschirmfoto von 2022-02-22 12-33-02](https://user-images.githubusercontent.com/15329494/155124287-8de31e4b-767c-47fa-8b5b-f4796a5660cd.png) |

Disadvante is that some pa

[2022-02-22 13:20] Feichtmeier commented on #231
https://github.com/flutter/flutter/issues/62107

It may be not a bug but rather a too excessive use of Image.file()
Since every image is loaded into memory

Reducing the cacheheight improves the situation a bit. But a settings app allocating 800+ mb on certain pages is far from optimal :(

[2022-02-22 13:26] Jupi007 commented on #289
Honestly, I think the line break is worst to see than the larger pane width.

[2022-02-22 13:30] Feichtmeier commented on #231
For some reason my devtools crash with
[code]
I try in a vm if this is related to my installation

[2022-02-22 13:44] madsrh commented on #289
Definitely 280px

You can't guarantee that this will prevent some labels having 2 lines without considering all the translations 🌐

If anything, you should consider making the sidebar font a tiny bit smaller or play with the letter spacing. I know these are standard values, so you properly won't mess with them, so better go with 280 😎

How does it stack up when compared to the settings in your bro

[2022-02-22 15:56] Feichtmeier commented on #289
Well, we could use the elipses dots for overfloating text in the list tile?
![image](https://user-images.githubusercontent.com/15329494/155169780-faafa8c0-dfe9-4fb1-b7e4-08fd9ce3aa60.png)

[2022-02-22 22:23] madsrh commented on #289
Yes, that looks to mostly resemble the 280 width 🧐

I would still prefer a wider sidebar, but perhaps both (wide sidebar and dots)? The dots wouldn't be used in english, but are there in case some language would have a long string.

[2022-02-22 22:27] Feichtmeier commented on #289
Okay, let's do dots plus 280 sidebar then :) closing!

[2022-02-22 22:27] #289 closed

[2022-02-24 06:56] Feichtmeier commented on #53
![image](https://user-images.githubusercontent.com/15329494/155473870-375e1d67-8488-445e-804d-994a6c322fb0.png)

[2022-02-24 06:57] Feichtmeier commented on #53
org.gnome.desktop.datetime automatic-timezone false

[2022-02-26 13:25] Feichtmeier commented on #52
org.freedesktop.locale1

Method: SetLocale (Array of [String] locale, Boolean interactive) ↦ ()
Property: Locale Array of [String]

[2022-02-26 13:31] Feichtmeier commented on #63
org.gnome.Shell.Wacom.PadOsd
Show (Object Path device_node, Boolean edition_mode) ↦ ()

org.gnome.SettingsDaemon.Wacom
SetOLEDLabels (String device_path, Array of [String] labels) ↦ ()

[2022-02-27 08:07] Feichtmeier commented on #270
org.freedesktop.bolt1.Manager
Methods:
DeviceByUid (String uid) ↦ (Object Path device)
DomainById (String id) ↦ (Object Path domain)
EnrollDevice (String uid, String policy, String flags) ↦ (Object Path device)
ForgetDevice (String uid) ↦ ()
ListDevices () ↦ (Array of [Object Path] devices)
ListDomains () ↦ (Array of [Object Path] domains)
Properties:
Probing (Boolean)
AuthMode (String) ("enabled"

[2022-02-27 08:23] Feichtmeier commented on #198
Thanks guys for analyzing and providing disabled visuals via yaru_widgets! Closing

[2022-02-27 08:23] #198 closed

[2022-02-27 12:39] Feichtmeier commented on #118
I still think this idea is worth exploring. However I am torn and I know that I am not neutral to this anymore because I've stared on the YaruSections for so long and like it. Maybe we should show this idea to someone who never saw this app before and ask him/her which version makes it easiert to focus individual sections. Als I've added the option to use YaruSections without a headline which is v

[2022-02-28 10:59] #53 closed

[2022-03-05 20:19] atsen-dev commented on #58
Hello,
Update on my work :
1) For a one-screen configurations:
all seems to work (except fractional scaling) : we can change resolution, refresh rate, scale, and rotation

2) For two screens configuration need some tests for me maybe almost all is working as expected.

Question : For fractional scaling, did you know from where we can changes that ? I didn't found that in DBus Mutter display config

[2022-03-06 06:41] Feichtmeier commented on #58
Wow that sounds promising :)

I found this key:  org.gnome.desktop.interface scaling-factor 0
and this key
org.gnome.mutter.x11 fractional-scale-mode 'scale-ui-down'

But fractional-scale-mode didn't change when I changed to fractional scaling in gnome control center. :(

[2022-03-06 06:54] Feichtmeier commented on #58
It could be that it is actually named "underscanning"

https://github.com/GNOME/gnome-control-center/blob/master/panels/display/cc-display-config.c#L313

It must be supported then it can be enabled
Could this be fractional scaling? :thinking:

[2022-03-06 07:04] Muqtxdir commented on #58
Hi,
The code for `fractional-scaling` in ubuntu's gnome-control-center is done via these files:
- `cc-display-config-dbus.c`
- `cc-display-config.c`
-  `cc-display-settings.c`

Attaching the zip file containing the `.patch` file that is used in ubuntu to expose Fractional-scaling options under display:
[display-Allow-fractional-scaling-to-be-enabled.zip](https://github.com/Feichtmeier/settings/fil

[2022-03-07 11:17] Feichtmeier commented on #58
@atsen-dev if you like we could start with what you got, and improve it over time. For example I could try to review your design of the display panel etc, even if the missing features are not in yet

[2022-03-07 11:18] atsen-dev commented on #58
Okay for me.
Did you want some screenshots below this reply ?

[2022-03-07 12:27] atsen-dev commented on #58
Pull Request is made, I let you to link it with this issue ;)

https://github.com/Feichtmeier/settings/pull/295

[2022-03-08 08:32] Feichtmeier opened #296 "WallpaperPage: stop endless spinner if no backgrounds are in home"
![image](https://user-images.githubusercontent.com/15329494/157197835-310a89ae-f2bc-40a5-aaf3-25c9ca2952c3.png)

[2022-03-08 08:36] Feichtmeier opened #297 "InfoPage: skip gpu info if not available"
![image](https://user-images.githubusercontent.com/15329494/157198773-36184d67-21d8-4d07-8f53-60eeb7de2ddd.png)

This error appears when loading this page in a gnome boxes VM.
@Jupi007 could you take a look?

[code]

[2022-03-08 08:38] Jupi007 commented on #297
I'll take a look :+1:

[2022-03-08 08:39] Feichtmeier commented on #297
Thanks :)
Actually there is info, GCC says:

Graphics: llvmpipe (LLVM 12.0.1, 256 bits)

[2022-03-08 08:41] Jupi007 commented on #297
This is related to the used library, so.
I remember @jpnurmi worked on it.

But it still require to fix when no value is sent.

[2022-03-08 09:15] #296 closed

[2022-03-08 11:23] #297 closed

[2022-03-11 17:58] #52 closed

[2022-03-12 19:59] Feichtmeier commented on #58
@atsen-dev what is the reason the dispose in main is currently disabled for the display service? :)

[2022-03-12 20:00] atsen-dev commented on #58
I found that it's not useful.
Forgot to delete theses lines.

[2022-03-12 21:29] Feichtmeier commented on #58
Hm, I see you capsuled a second display service in the DisplayService
I think you need to close the dbus client on dispose though, similar to

https://github.com/Feichtmeier/settings/blob/37446ca53c4011734f5d46cd0a249a3cb11ed978/lib/services/bluetooth_service.dart#L29-L33

Maybe you could create a dipose method in the DisplayService, which only calls a dipose method from your DisplayDBusService?

[2022-03-12 21:35] atsen-dev commented on #58
Yeah, you're right.
I'll do it and remake a new Pull Request to fix that.

[2022-03-16 20:26] mivoligo opened #306 "Not clear what units are used."
In Privacy>House Keeping
![Screenshot from 2022-03-16 20-16-21](https://user-images.githubusercontent.com/1629120/158682855-d3b37477-0a19-4e5c-9fa0-cedf9e8ef491.png)

I assume it's in days but maybe we can make it more obvious.

Similar situation here:
In Privacy > Screen Lock
![Screenshot from 2022-03-16 20-18-05](https://user-images.githubusercontent.com/1629120/158683092-f6eb51a4-2f66-47e7-922e

[2022-03-17 09:37] mivoligo commented on #306
Partial fix in #307 Not sure how we should handle "Period for automatic deletion". Should we add "in days" in subtitle, should we use dropdown for selecting the time, or should we just skip it for now as a user is smart enough to know it's in days?

[2022-03-17 09:43] Feichtmeier commented on #306
Good question. Do what you think is most intuitive please :)

[2022-03-18 12:16] Feichtmeier opened #308 "Add accent colors"
from yaru.dart
and match them in AppTheme with the corresponding gtk themes

[2022-03-18 12:17] Feichtmeier opened #309 "Get rid of file_choser"
I want to get rid of some unneeded deps. I think we can implement an own file choser or call the native gtk one

[2022-03-18 13:09] Jupi007 commented on #309
I also think it could be nice to call the native system file chooser.

[2022-03-18 13:16] mivoligo opened #310 "Changing some settings do not work well"
I've noticed that changing some settings do not really work.
For example: In Power page I change "Blank screen" to any value and it always results in 300 seconds. That value is the default value for that settings according to Dconf Editor.
![power](https://user-images.githubusercontent.com/1629120/159007941-45f7a057-4e21-4d15-9a6c-2edf3c908330.gif)

Similar issue is with:
1. Privacy > House Keepin

[2022-03-18 16:52] #309 closed

[2022-03-19 18:18] mivoligo commented on #310
FWIW I've noticed all of those values are of type `Unsigned 32-bit integer` according to dconf. Meanwhile the setting which works properly: "Period of file history" (/org/gnome/desktop/privacy/recent-files-max-age) is of type `Signed 32-bit integer`.

[2022-03-19 18:25] mivoligo commented on #310
So I think the issue might be here: https://github.com/Feichtmeier/settings/blob/32b7b128f0b38a5c3d504ee9112e8f360614808e/lib/services/settings_service.dart#L80

Here's the code in dbus for unsigned integer: https://github.com/canonical/dbus.dart/blob/e003b66747ba0dea6ed4084a74331bd35d0a8af5/lib/src/dbus_value.dart#L208

[2022-03-19 20:33] Feichtmeier commented on #310
Nice finding. This could be indeed an issue. So should we add one case for each type of int in the settingsservice?

[2022-03-19 21:06] mivoligo commented on #310
I believe so but not sure how to handle that properly. Maybe @jpnurmi could help here.

[2022-03-20 17:21] Feichtmeier commented on #308
Closed with #314

[2022-03-20 17:21] #308 closed

[2022-03-21 09:26] jpnurmi commented on #310
Hah, yes, that's wrong. Too much convenience bites back. :slightly_smiling_face: Anyway, maybe pair the `get<Type>Value()` getters with respective `set<Type>Value()` setters, to eliminate ambiguity?

[2022-03-21 20:40] mivoligo commented on #310
Looks like quite a big change :slightly_smiling_face:  `setValue` is used more than 130 times :smile:

BTW shouldn't this line:
https://github.com/Feichtmeier/settings/blob/32b7b128f0b38a5c3d504ee9112e8f360614808e/lib/services/settings_service.dart#L72
be changed to `if (_values[key] == value) {` ?

[2022-03-22 06:24] #310 closed

[2022-03-22 07:35] jpnurmi commented on #310
@Feichtmeier This is why tests pay off 😉

[2022-04-01 19:50] Feichtmeier opened #317 "WallpaperPage: respect dark mode for os major version > 22"
WallpaperPage: respect dark mode for os major version > 22

There is a new key "picture-uri-dark"

[2022-04-02 01:09] enzodanjour opened #318 "clang: error: linker command failed with exit code 1"
I`m trying run the project and have this error, what i can do to resolve that ?

flutter run -v:
[code]

[2022-04-02 06:27] Feichtmeier commented on #318
Hi! What version of Ubuntu do you run?

It might be related to the libhandy version prior to 21.10

I need to get https://pub.dev/packages/handy_window in so we don't need us to to install libhandy-dev  libs

[2022-04-02 07:52] Feichtmeier commented on #318
@enzodanjour could you check the branch "handy_window" / test the linked PR to see if this error goes away now?

[2022-04-05 00:46] leonus96 commented on #272
Hello, today I started working on this issue. I experimented with a shaking animation.

![Peek 04-04-2022 19-43](https://user-images.githubusercontent.com/9968005/161656255-dc8927b0-90ed-4ecd-a0d0-b18825a83b4f.gif)

Let mi know your opinions  :smile:

[2022-04-05 08:22] Feichtmeier commented on #272
Nice this is exactly what I thought of ☺️

[2022-04-06 09:50] #317 closed

[2022-04-06 21:12] leonus96 commented on #272
What do you think about this alternative? (I'm still working on this.)

![second_alternative](https://user-images.githubusercontent.com/9968005/162071087-a5cdcfb5-d2a3-4b2f-b8f7-2831fba457e2.gif)

Still, I'm unhappy with the "File History" icon for shaking animation, I've explored the [yaru_icons.dart](https://github.com/ubuntu/yaru_icons.dart/blob/master/doc/icon_list.md) repository and didn't fi

[2022-04-06 21:15] Feichtmeier commented on #272
Nice idea with turning to gray 👍

Yeah, it was the best icon I've found. You are right it is not optimal
The original icons come from the yaru repositoy https://github.com/ubuntu/yaru

[2022-04-06 21:20] Jupi007 commented on #272
Very nice animations!
What about add a size transition at the end (as if it was disappearing)?

I can add I specific icon for _file history_ if you want :)

[2022-04-06 21:23] leonus96 commented on #272
Thanks! I will explore the size transition.

It would be great if you can add the file history icon. Let me know when you do.

[2022-04-17 12:10] Yash-Garg commented on #177
Hey @Feichtmeier, I've made some initial impl. for ethernet page on https://github.com/Yash-Garg/ubuntu_settings/commit/59acaadcad645db6148357e6f7b97c0e3aa2add3.

Not sure if it's the best implementation but still figuring out with _NetworkManager_ docs, will raise up a PR when it's done properly!

[2022-05-26 12:20] #102 closed

[2022-06-01 06:45] jpnurmi opened #329 "Display scale factors overflow"
![image](https://user-images.githubusercontent.com/140617/171342738-653a81b5-a4d7-4cf5-af5a-d88cabe51786.png)

The lists of available scale factors for the attached monitors:
- `[1.0, 1.25, 1.5094339847564697, 1.7391303777694702, 2.0, 2.2857143878936768, 2.5, 2.7586207389831543, 3.076923131942749, 3.200000047683716, 3.4782607555389404]`
- `[1.0, 1.25, 1.5, 1.7518248558044434, 2.0, 2.25352120399475

[2022-06-01 16:12] Feichtmeier commented on #329
ok :)
@atsen-dev did not yet include fractional scaling support. Currently in GCC it is a quiet complicated patch by @3v1n0 which is not yet ported to dart nor inside this app
Then I close this issue here because the overflow is tackled with the dropdown

Fractional scaling is on the TODO here: https://github.com/ubuntu-flutter-community/settings/issues/58

[2022-06-22 18:54] Feichtmeier opened #333 "Update the Ubuntu Logo to the new design"

[2022-06-22 20:20] #333 closed

[2022-06-23 12:56] Feichtmeier opened #335 "WallpaperPage: add picture-option"
org.gnome.desktop.background picture-options 'zoom'

[2022-06-23 15:25] Feichtmeier opened #336 "WallpaperGrid: fix mousepad scrolling after flutter update"

[2022-06-23 15:29] #336 closed

[2022-06-23 15:32] Feichtmeier opened #338 "Add common linting rules and enforce them"

[2022-06-23 15:41] #338 closed

[2022-08-18 11:46] Feichtmeier opened #341 "WallpaperPage: display timestamp in wallpaper of the day"

[2022-09-15 14:16] hugok79 opened #342 "Lower/upper case"
This sentence is supposed to start with lowercase?

https://github.com/ubuntu-flutter-community/settings/blob/ff7a5ce38a20acba6c0392a0aa1f6b3700773357/lib/l10n/app_en.arb#L59

[2022-09-15 14:37] hugok79 opened #343 "Recycle bin or Trash"
Normally, in Linux distributions the term **Trash** is used, not **Recycle bin,** but in the file below both are being used, wich makes the translation unconsistent...
[settings](https://github.com/ubuntu-flutter-community/settings)/[lib](https://github.com/ubuntu-flutter-community/settings/tree/master/lib)/[l10n](https://github.com/ubuntu-flutter-community/settings/tree/master/lib/l10n)/app_en.ar

[2022-09-15 15:42] hugok79 opened #344 "Single/double quotes"
The setences below ends with a single and double quotes... this is a typo?
https://github.com/ubuntu-flutter-community/settings/blob/ff7a5ce38a20acba6c0392a0aa1f6b3700773357/lib/l10n/app_en.arb#L179
https://github.com/ubuntu-flutter-community/settings/blob/ff7a5ce38a20acba6c0392a0aa1f6b3700773357/lib/l10n/app_en.arb#L220

[2022-09-22 13:00] Feichtmeier commented on #50
![grafik](https://user-images.githubusercontent.com/15329494/191753628-206e413a-eda5-4451-b8f7-7501e9ad3dc7.png)

org.freedesktop.Accounts

[2022-09-27 14:06] Adithyan007hack opened #347 "Cannot open app"
I am unable to open the app it is giving me a error output in terminal
``
./software: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.34' not found (required by ./software)``
The Distro is zorin 16 (ubuntu 20.04)
can anybody help me

[2022-09-27 14:22] Feichtmeier commented on #347
hi, I've deleloped this on 22.04 with flutter and it's debian deps. So this might be the issue for you on 20.04
If I get to release this app as a snap you won't have this problem anymore.

[2022-09-27 15:33] #347 closed

[2022-10-01 22:40] WildanGarviandi opened #348 "Translation to Indonesia language"
i would like to have Indonesian language to the setting app, will open PR soon!

[2022-10-01 23:04] WildanGarviandi opened #349 "Little maps on Date and time setting for showing/choosing timezone"
I was thinking that's will be a cool touch on that page, for the map itself i think we can use free maps service like open street maps

[2022-10-02 12:46] #348 closed

[2022-11-09 10:56] Feichtmeier opened #364 "upgrade to yaru widgets 2.0"

[2022-11-10 18:05] #364 closed

[2022-11-10 18:06] Feichtmeier opened #366 "Exchange DropDownButton with YaruPopupMenuButton"

[2022-11-11 13:28] #366 closed

[2022-11-12 13:16] Feichtmeier opened #374 "Convert in-code TODOs to issue"

[2022-11-12 13:29] Feichtmeier opened #375 "PowerProfile: add translations in enums"

[2022-11-12 13:32] Feichtmeier opened #376 "SeeingSection: create enum and localize"
https://github.com/ubuntu-flutter-community/settings/blob/6b12d14f1f685987ec680bab5ef2f6d8a9bb5b9e/lib/view/pages/accessibility/accessibility_model.dart#L201-L207

Could be an enum instead

[code]

then you do not need to fiddle with replace all here

https://github.com/ubuntu-flutter-community/settings/blob/6b12d14f1f685987ec680bab5ef2f6d8a9bb5b9e/lib/view/pages/accessibility/seeing_section.dart#

[2022-11-12 13:32] Feichtmeier opened #377 "DockSection: localize"

[2022-11-12 13:34] Feichtmeier opened #378 "BluetoothDeviceRow: navigate to different page for specific device options Assignees: Labels: feature / enhancement"

[2022-11-12 14:21] Feichtmeier opened #380 "select encryption method for Wi-Fi"

[2022-11-12 14:21] Feichtmeier opened #381 "connect to hidden Wi-Fi networks"

[2022-11-12 14:21] Feichtmeier opened #382 "a connection settings dialogue including a forget connection button"

[2022-11-12 14:21] Feichtmeier opened #383 "add Ethernet network page"

[2022-11-12 14:21] Feichtmeier opened #384 "add cellular network page"

[2022-11-12 14:24] Feichtmeier opened #385 "WallpaperPage: Add the title and copyright info"

[2022-11-12 14:25] Feichtmeier commented on #385
@YoussefLasheen could you fix this one? :smile_cat:

[2022-11-12 14:27] Feichtmeier opened #386 "KeyboardPage: localize"

[2022-11-12 14:28] Feichtmeier opened #387 "AccessPointTile: navigate to wifi access point details dialog"

[2022-11-12 14:38] #374 closed

[2022-11-12 14:58] #342 closed

[2022-11-12 14:58] #343 closed

[2022-11-12 14:58] #344 closed

[2022-11-12 15:02] Feichtmeier opened #390 "Reduce gnome dependency of pages and mark pages for specific distros"
If this app should go any further in terms of "multi-distro" app, we need to mark pages as distro specific and only insert them if it works on that distro.
The best would be if everything would be dbus based ofc and we use the correct keys for those distros. For example mate has different dbus interfaces often etc.
But I think this would be too complicated. So I would prefer the marking approach.

[2022-11-12 15:05] Feichtmeier commented on #318
I personally never saw this issue myself and due to no reaction, I close it now

[2022-11-12 15:05] #318 closed

[2022-11-12 15:44] #375 closed

[2022-11-14 14:11] mivoligo commented on #376
#392

[2022-11-15 12:34] Feichtmeier opened #393 "Finish sound/audio page"
- ouput device selection
![grafik](https://user-images.githubusercontent.com/15329494/201920195-491e441a-bbdb-422a-8a2d-d9cc3d58ddc6.png)
- test output
- input device selection
- balance
- audio level/mute

[2022-11-15 14:39] #376 closed

[2022-11-15 15:09] #377 closed

[2022-11-17 19:23] Jupi007 opened #397 "wallpaper_page: remove `const` from non const constructor"
[code]

[2022-11-19 08:29] Feichtmeier opened #399 "datetime: use https://github.com/ubuntu-flutter-community/linux_datetime"
use https://github.com/ubuntu-flutter-community/linux_datetime

[2022-11-19 21:02] Feichtmeier opened #400 "DockModel: Extend SafeChangeNotifier"
https://github.com/ubuntu-flutter-community/settings/blob/be3b24ba22a537a4b7ff7506c776f746fa74798f/lib/view/pages/appearance/dock_model.dart#L7

[2022-11-21 07:15] Feichtmeier commented on #177
@jpnurmi could eventually port over the network page from the installer to here?

[2022-11-22 22:50] YoussefLasheen commented on #385
@Feichtmeier Sure! :smile:

[2022-11-22 23:21] YoussefLasheen opened #401 "Hide back button from the expanded view"
The back button serves no purpose in the expanded view and currently does nothing.

Expanded view
![Screenshot from 2022-11-23 01-17-16](https://user-images.githubusercontent.com/28854622/203440742-8838c0a6-c3de-4f2d-91af-22d4583e9645.png)

Retracted view
![Screenshot from 2022-11-23 01-17-57](https://user-images.githubusercontent.com/28854622/203440749-1a63c145-f72c-4cb1-9650-0a9a6a3cc03e.png)

[2022-11-23 05:10] Feichtmeier commented on #401
@Jupi007 is this something new from the new release?

[2022-11-23 05:45] Feichtmeier commented on #401
This must be something new from changes happening in yaru widgets

here
https://ubuntu.github.io/yaru_widgets.dart/
everything is fine, so I guess we need to adapt settings to the new version

things are currently moving so fast in yaru widgets that I don't always manage to keep up :)

[2022-11-23 11:01] #401 closed

[2022-11-23 11:26] #397 closed

[2022-11-23 11:27] Jupi007 commented on #397
Thanks @Feichtmeier, I had forgotten this :)

[2022-11-25 16:46] YoussefLasheen commented on #341
#189

[2022-11-25 22:15] Jupi007 opened #404 "Picture of the day doesn't update wallpaper"
Currently, select an image of the day doesn't update the wallpaper.
Using #403, the caption is still updated.
The refresh button doesn't help more.

![Capture d’écran du 2022-11-25 19-42-32](https://user-images.githubusercontent.com/36476595/204059410-a0745090-b7dc-4737-a28b-583f18561424.png)

Tested with Ubuntu 22.10

CC @YoussefLasheen if you want to grab this :)

[2022-11-25 22:32] YoussefLasheen commented on #404
I would love to work on it.
The model only updates the light mode wallpaper. So the proposed solution is to just set both pictureUri and pictureUriDark to the wallpaper.

[2022-11-25 23:19] Jupi007 commented on #404
Okay, so this is related to the dark mode.
That you propose can be a temp fix, but I think that directly add support for dark mode wallpaper could be nicer.
WDYT?

[2022-11-26 01:06] YoussefLasheen commented on #404
I think the expected behavior is for the wallpaper to be set regardless of the theme mode. I would love your input on how would supporting dark mode would be like.

[2022-11-26 01:22] YoussefLasheen commented on #190
I can't reproduce this issue in the master branch. I believe it's fixed.

[2022-11-26 07:17] #190 closed

[2022-11-26 07:17] #404 closed

[2022-11-26 09:29] Jupi007 commented on #404
I think remember that gnome control center support this feature of wallpaper depending on the theme mode.
That we could do, is add a switch button like: "Same wallpaper on light/dark mode".
If on, the wallpaper will be set for both themes. And if off, it will be set only for the current theme (with an additional caption like: "light mode wallpaper").

[2022-11-26 10:21] YoussefLasheen commented on #404
I think that's a cool feature. But that wouldn't work for the ImageOfTheDay mode though.  Maybe it'll work for the custom and colored background.
If  you opened an issue for this feature I will work on it.

[2022-11-26 14:12] Jupi007 opened #406 "Wallpaper page: add dark mode support"
In the current state, the wallpaper is defined for both dark/light theme.
GS supports to have different wallpaper depending on the theme, and it would be nice to add this feature here.

CC @YoussefLasheen if you want to grab it :)

[2022-11-26 14:12] Jupi007 commented on #404
Btw, I noticed that the image of the day doesn't keep its state, as it switch to the wallpaper mode when you reload the page.
So maybe this feature should be merged in the wallpaper mode in a kind of "get image of the day" button.
I think it would be less confusing.

But that's another topic :)

[2022-11-26 15:08] YoussefLasheen commented on #404
Colored background doesn't keep it's state too.
The current wallpaper model doesn't have a way to store settings that are not part of the gsettings protocol. I had to embed the copyright info in the wallpaper name to save it across reloads.
We could do the same by checking the path of the wallpaper to determine the current mode.

[2022-11-26 15:09] Jupi007 commented on #404
Good idea, that would be the best solution :+1:
Find a way to keep the colored wallpaper mode could be also very nice.

[2022-11-27 23:29] YoussefLasheen commented on #385
Should this issue be closed now? @Feichtmeier

[2022-11-27 23:37] Jupi007 opened #410 "Display page: Invalid double error"
The following error shows up when I load the display page:

![image](https://user-images.githubusercontent.com/36476595/204165606-14315a37-1c4e-4062-af07-8402c9ff9965.png)

It comes from here:

https://github.com/ubuntu-flutter-community/settings/blob/920127af6ed42862fe1aa94ccc7873c337ec140e/lib/view/pages/displays/widgets/monitor_section.dart#L93-L95

`config.refreshRate` can contain `,` characte

[2022-11-27 23:56] Jupi007 opened #412 "Some subscribers are not disposed"
@Feichtmeier I did a simple test:
- I added a `print` in the subscriber callback of the displays model ;
- as expected, it prints a message on loading the display page, and also when I update the screen config in GCC ;
- but if I leave the page, the subscriber is still active and prints each display config change ;
- more problematic, each time I reload the page, it adds a subscriber, which mean a

[2022-11-28 06:42] Feichtmeier commented on #385
Yes thank you for working on this! :)
Just add

Fixes # 123124
or
Closes # 123124

to every pull request description (without the space after the #)

[2022-11-28 06:42] #385 closed

[2022-11-28 07:29] #410 closed

[2022-11-28 07:30] #412 closed

[2022-11-29 17:36] YoussefLasheen commented on #189
About the google earth daily wallpaper requirement.

I can only find this website https://earthview.withgoogle.com/
But its API doesn't have a daily image type of feature. You have to know the id of the image to access it.
Extensions like this https://extensions.gnome.org/extension/1295/google-earth-wallpaper/
store a curated list of ids and shuffle between them.
That kind of provider would requir

[2022-11-29 17:41] Feichtmeier commented on #189
@YoussefLasheen alright! Thanks for investigating! Then let's remove this from the list, this page is already feature-packed 💪 Thanks to you!

[2022-11-29 17:42] #189 closed

[2022-11-29 21:52] Feichtmeier opened #416 "WallpaperPage: fix unsplash error"
![grafik](https://user-images.githubusercontent.com/15329494/204655944-cb46f64f-f638-4ffe-bf6d-7efecbb7725b.png)

I think the getImageUrl callback ismissing @YoussefLasheen :)

[2022-11-29 21:56] YoussefLasheen commented on #416
I think the error is unrelated. I made the callback optional as its not needed for unsplash's api.

[2022-11-29 22:26] YoussefLasheen commented on #416
Looks like the unsplash API itself is not that reliable.
https://source.unsplash.com/1920x1080/daily returns
![image](https://user-images.githubusercontent.com/28854622/204661658-488873c5-17f5-4a37-9d0e-7f1e1c70f6e0.png)
The model currently trusts the API to return an image so it just saves the response.